Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Move cypress to test folder
  back/cypress/e2e/tabletView.cy.js
  back/package-lock.json
  back/package.json
  test/.gitignore
  test/cypress.config.js
  test/cypress/.eslintrc.json
  test/cypress/README.md
  test/cypress/e2e/login.cy.js
  test/cypress/e2e/scheduling.cy.js
  test/cypress/e2e/tabletView.cy.js
  test/cypress/fixtures/example.json
  test/cypress/plugins/index.js
  test/cypress/support/commands.js
  test/cypress/support/e2e.js
  test/package-lock.json
  test/package.json
Due: back-end

Try to run cypress in actions
  .github/workflows/end2end_tests.yml
  docker-compose.dev.yaml
Due: none

fix working dir
  .github/workflows/end2end_tests.yml
Due: none

Try caching
  .github/workflows/end2end_tests.yml
Due: none

Disable some tests for now
  test/cypress.config.js
  test/cypress/e2e/login.cy.js
  test/cypress/e2e/scheduling.cy.js
  test/cypress/e2e/tabletView.cy.js
Due: none

Enable login tests
  test/cypress/e2e/login.cy.js
Due: none

Enable scheduling tests
  test/cypress/e2e/scheduling.cy.js
Due: none

Fix unit test for supervisions
  front/src/profile/profilepages/supervisions.tsx
  front/src/profile/tests/supervisions.test.tsx
Due: front-end

Change supervisions to ts
  front/src/profile/profilepages/supervisions.tsx
Due: front-end

Change supervision test to ts
  front/src/profile/tests/supervisions.test.tsx
Due: front-end

Rework supervisions page and add colors
  front/src/profile/profilepages/supervisions.tsx
Due: front-end

Review fixes
  front/src/lib/components/Navbar/SupervisorNotification.tsx
  front/src/profile/profilepages/supervisions.tsx
  front/src/scheduling/Scheduling.jsx
Due: front-end

Lisätty raffle-analytiikka endpoint ja siihen liittyvät reitit
  back/controllers/raffle.js
  back/routes.js
Due: back-end

Add raffle analytics frontend and backend integration with date range support
  back/controllers/raffle.js
  back/services/rangeSupervision.js
  front/package-lock.json
  front/package.json
  front/src/raffle/RaffleAnalytics.tsx
  front/src/raffle/raffle.tsx
Due: front-end, back-end

Remove unused unit tests
  front/src/pages/UserManagement/UserManagementView.test.tsx
Due: front-end

Rework usermanagement
  front/src/usermanagement/UserManagementView.module.scss
  front/src/usermanagement/UserManagementView.tsx
  front/src/usermanagement/components/SelectAssociation.tsx
  front/src/usermanagement/components/SelectRole.tsx
  front/src/usermanagement/components/dialogs/AddUserDialog.tsx
  front/src/usermanagement/components/dialogs/ChangeEmailSelfDialog.tsx
  front/src/usermanagement/components/dialogs/ChangePasswordSelfDialog.tsx
  front/src/usermanagement/components/dialogs/EditUserDialog.tsx
Due: front-end

Move usermanagement to pages folder
  front/src/App.tsx
  front/src/pages/UserManagement/UserManagementView.test.tsx
  front/src/pages/UserManagement/UserManagementView.tsx
  front/src/pages/UserManagement/components/SelectAssociation.tsx
  front/src/pages/UserManagement/components/SelectRole.tsx
  front/src/pages/UserManagement/components/dialogs/AddUserDialog.tsx
  front/src/pages/UserManagement/components/dialogs/ChangeEmailSelfDialog.tsx
  front/src/pages/UserManagement/components/dialogs/ChangePasswordSelfDialog.tsx
  front/src/pages/UserManagement/components/dialogs/EditUserDialog.tsx
Due: front-end

Fix save button color
  front/src/pages/UserManagement/components/dialogs/EditUserDialog.tsx
Due: front-end

Fix wrong import
  front/src/pages/UserManagement/components/SelectAssociation.tsx
Due: front-end

Change usermanagement to ts
  front/src/usermanagement/UserManagementView.test.tsx
  front/src/usermanagement/UserManagementView.tsx
Due: front-end

Fix updating buttons on tablet view
  front/src/pages/TabletView/components/TrackCard.tsx
  front/src/pages/TabletView/components/TrackStatistics/TrackStatistics.tsx
Due: front-end

Fix track statistics test
  front/src/pages/TabletView/components/TrackStatistics/TrackStatistics.test.tsx
Due: front-end

bug found and fixed
  front/src/raffle/raffle.tsx
Due: front-end

WIP: default hours, very ugly very messy but something
  back/controllers/defaultHours.js
  back/controllers/index.js
  back/knex/development/migrations/20250417120000_create_default_hours_table.js
  back/models/defaultHours.js
  back/routes.js
  back/services/defaultHours.js
  back/validators/index.js
  docker-compose.dev.yaml
  front/src/scheduling/Scheduling.jsx
  front/src/trackview/DefaultOpeningForm.tsx
  front/src/trackview/Trackview.tsx
Due: front-end, back-end

Format default hours in a table and support all weekdays
  back/controllers/defaultHours.js
  back/knex/development/migrations/20250417120000_create_default_hours_table.js
  back/models/defaultHours.js
  back/package-lock.json
  front/src/pages/EditTracksView/EditTracksView.tsx
  front/src/scheduling/Scheduling.jsx
  front/src/trackview/DefaultHoursTable.tsx
  front/src/trackview/DefaultOpeningForm.tsx
  front/src/trackview/Trackview.tsx
Due: front-end, back-end

Use deafult hours in scheduling page
  back/knex/stable/migrations/20250417120000_create_default_hours_table.js
  front/src/scheduling/Scheduling.jsx
Due: front-end, back-end

Use deafult hours in scheduling page
  back/knex/development/migrations/20250417120000_create_default_hours_table.js
  front/src/scheduling/Scheduling.jsx
  front/src/trackview/DefaultHoursTable.tsx
Due: front-end, back-end

Fix dayview track status and opening hours
  front/src/pages/DayView/DayView.tsx
Due: front-end

Add and fix e2e tests
  front/src/pages/UserManagement/UserManagementView.tsx
  front/src/pages/UserManagement/components/dialogs/AddUserDialog.tsx
  front/src/pages/UserManagement/components/dialogs/ChangeEmailSelfDialog.tsx
  front/src/pages/UserManagement/components/dialogs/ChangePasswordSelfDialog.tsx
  test/cypress/e2e/login.cy.js
  test/cypress/e2e/login.cy.ts
  test/cypress/e2e/userManagement.cy.ts
  test/cypress/fixtures/users.ts
  test/cypress/global.ts
  test/cypress/support/commands.js
  test/cypress/support/commands.ts
  test/package-lock.json
  test/package.json
  test/tsconfig.json
Due: front-end

Add alert for failed delete
  front/src/pages/UserManagement/components/dialogs/EditUserDialog.tsx
Due: front-end

Run biome fix
  front/src/lib/components/TableLegends.tsx
  front/src/pages/UserManagement/UserManagementView.tsx
  front/src/profile/profilepages/changepassword.tsx
  front/src/profile/profilepages/supervisions.tsx
  front/src/profile/tests/supervisions.test.tsx
  front/src/raffle/RaffleDatePicker.tsx
  front/src/raffle/raffle.tsx
Due: front-end

Update localizationf files
  front/src/locales/en/messages.po
  front/src/locales/fi/messages.po
  front/src/locales/sv/messages.po
Due: front-end

style/ button style changed
  front/src/colors.module.scss
  front/src/scheduling/Scheduling.jsx
  front/src/scheduling/Scheduling.scss
Due: front-end

fix/ color fix
  front/src/colors.module.scss
Due: front-end

Add smoke test
  test/cypress/e2e/navigation.cy.js
Due: none

Add correct smoke tests
  test/cypress/e2e/navigation.cy.js
Due: none

fix moment start of week values
  front/src/main.tsx
Due: front-end

Fix drawer key value
  front/src/lib/components/Navbar/DrawerMenu.tsx
Due: front-end

Fix non macro lingui usage
  front/src/pages/DayView/DayView.tsx
  front/src/utils/Utils.jsx
Due: front-end

Remove unused state
  front/src/scheduling/Scheduling.jsx
Due: front-end
