Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

console logs
  front/src/tabletview/rangeofficer.js
Due: front-end

Add cypress tests to tablet view. Add some names/id's to elements in order to help testing.
  back/cypress/e2e/tabletView.cy.js
  front/src/TrackStatistics/TrackStatistics.js
  front/src/tabletview/rangeofficer.js
Due: front-end, back-end

Remove unnecessary changes
  front/src/usermanagement/UserManagementView.js
Due: front-end

Fix typo
  front/src/usermanagement/UserManagementView.js
Due: front-end

added id for role and email editing buttons
  front/src/usermanagement/UserManagementView.js
Due: front-end

Select role translation added
  front/src/texts/texts.json
Due: front-end

Style fixes for selectors and association will be printed only for range officers
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

remove node_modules mounting from docker-compose-dev
  docker-compose.dev.yaml
Due: none

add stuff to readme about cypress
  README.md
Due: none

Deleted unnecessary StyledEngineProvider
  front/src/App.js
Due: front-end

add back volumes mounting
  docker-compose.dev.yaml
Due: none

added translation for text 'message type'
  front/src/texts/texts.json
Due: front-end

Fixed the layout
  front/src/EmailSettings/EmailSettings.js
  front/src/EmailSettings/EmailSettings.scss
Due: front-end

Middle commit, fixed sendPending function. Sending email works for updating supervision
  back/controllers/emailSettings.js
  back/controllers/rangeSupervision.js
  back/mailer.js
  front/src/EmailSettings/EmailSettings.js
  front/src/api/api.js
  front/src/scheduling/Scheduling.js
Due: front-end, back-end

fix association role change
  back/models/user.js
Due: back-end

email reminder for unconfirmed supervision works with time from email settings.
  back/controllers/emailSettings.js
  back/controllers/rangeSupervision.js
  back/knex/development/seeds/02_users.js
  back/knex/development/seeds/09_settings.js
  back/mailer.js
  back/services/reservation.js
Due: back-end

Fix merge error that I singlehandedly made.
  front/src/usermanagement/UserManagementView.js
Due: front-end

Fix bugs #tw40 and #tw41
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end

Disable track officer buttons, when center is closed.
  front/src/tabletview/rangeofficer.js
Due: front-end

Disable visitor add/decrease buttons when center is closed
  front/src/TrackStatistics/TrackStatistics.js
  front/src/tabletview/rangeofficer.js
Due: front-end

Fix disabling track buttons when center is closed and teblet view is opened
  front/src/tabletview/rangeofficer.js
Due: front-end

test compose file
  README.md
  production-test-compose.yaml
  test_env_variables.env
Due: none

add db user to env variables
  production-test-compose.yaml
Due: none

Added production-compose and instructions
  README.md
  production-compose.yaml
  test_env_variables.env
Due: none

cleanup
  back/controllers/emailSettings.js
  back/controllers/rangeSupervision.js
  back/knex/development/seeds/02_users.js
  back/mailer.js
  back/services/reservation.js
  front/src/api/api.js
  front/src/scheduling/Scheduling.js
Due: front-end, back-end

remove more console.logs
  back/mailer.js
  front/src/EmailSettings/EmailSettings.js
Due: front-end, back-end

Skipped broken front-end tests
  front/src/TrackStatistics/TrackStatistics.test.js
  front/src/edittracks/tracks.test.js
  front/src/scheduling/Scheduling.test.js
  front/src/tabletview/rangeofficer.test.js
  front/src/usermanagement/UserManagementView.test.js
Due: front-end

Updated readme to reflect the status of the tests
  README.md
Due: none

Fix syntax to be clearer
  front/src/EmailSettings/EmailSettings.js
Due: front-end

Fix select association dropdown when adding range officer
  front/src/usermanagement/UserManagementView.js
Due: front-end

fix email pending crash
  back/controllers/emailSettings.js
  back/knex/development/seeds/09_settings.js
  back/mailer.js
Due: back-end

"update" emails work. Fix cc email setting. email settings template messages for dev env. "assigned" email should work, but can't test for opening keskus bc of bug
  back/controllers/emailSettings.js
  back/controllers/rangeSupervision.js
  back/controllers/reservation.js
  back/knex/development/seeds/02_users.js
  back/knex/development/seeds/09_settings.js
  back/mailer.js
  back/models/emailSettings.js
  front/src/EmailSettings/EmailSettings.js
  front/src/scheduling/Scheduling.js
Due: front-end, back-end

cleanup
  back/controllers/reservation.js
  back/knex/development/seeds/02_users.js
  back/knex/development/seeds/09_settings.js
  back/mailer.js
  front/src/EmailSettings/EmailSettings.js
Due: front-end, back-end

Disable track buttons and display error message if trying to set supervisor present/en route if range supervisor is not set.
  front/src/tabletview/rangeofficer.js
  front/src/texts/texts.json
Due: front-end

Fix scheduling format to DD.MM.YYYYY
  front/src/scheduling/Scheduling.js
Due: front-end

fix: resolve issue with supervisions not displaying
  back/controllers/user.js
Due: back-end

Remove unnecessary console.logs
  front/src/utils/Utils.js
Due: front-end

Add error handling when getting range master info messages
  back/app.js
  back/routes.js
  front/src/api/api.js
  front/src/infoBox/InfoBox.js
Due: front-end, back-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
