Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Made tests for ButtonComponent
  front/src/ButtonComponent/ButtonComponent.test.js
Due: front-end

virheelliset tiedostot
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
Due: front-end

Revert "virheelliset tiedostot"
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
Due: front-end

Virheelliset tiedostot
  front/package-lock.json
Due: front-end

Added some tests for device component
  front/src/Devices/devices.test.js
Due: front-end

Ei toimiva timestamp-testi
  front/src/weekview/Weekview.test.js
Due: front-end

Added domain name to mail transport, fixed mail bug
  back/mailer.js
Due: back-end

Update mailer.js
  back/mailer.js
Due: back-end

Fixed frontend unit tests
  front/src/profile/profilepages/officerform.js
  front/src/profile/tests/officerform.test.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

rangemaster permissions fix to backend
  back/routes.js
Due: back-end

add new stable knex migrations
  Dockerfile
  back/knex/stable/migrations/20210222143012_create_settings_table.js
  back/knex/stable/migrations/20210311102224_add_password_reset_token_to_user.js
  back/knex/stable/migrations/20210311103031_add_password_reset_token_expires_to_user.js
  back/knex/stable/migrations/20210329201810_create_pending_emails_table.js
  back/knex/stable/migrations/20240304144824_update_users_table.js
  back/knex/stable/migrations/20240304153240_update_supervisors_table.js
  back/knex/stable/migrations/20240304163024_update_scheduled_range_supervision.js
  back/knex/stable/migrations/20240304170613_update_members_table.js
  back/knex/stable/migrations/20240305115457_create_table_association_rangeofficers.js
  back/knex/stable/migrations/20240314155937_update_range_supervision.js
  back/knex/stable/migrations/20240328172311_create_table_devices.js
  back/knex/stable/seeds/01_truncate.js
  back/knex/stable/seeds/02_user.js
  back/knex/stable/seeds/06_schedule.js
  back/knex/stable/seeds/07_range_supervision.js
  back/knex/stable/seeds/08_track_supervision.js
  back/knex/stable/seeds/09_devices.js
Due: back-end

fix for blablabla
  front/src/scheduling/Scheduling.js
Due: front-end

update eslint packages
  front/package-lock.json
  front/package.json
Due: front-end

update url-parse to 1.5.10
  front/package-lock.json
Due: front-end

remove eslint from front
  front/package-lock.json
  front/package.json
Due: front-end

Updated to run tests on push & pull requests on 'v**-develop' branches
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

Added Node 20 to test matrix
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

removed old node versions
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

Added a check to ensure only superusers can add, update or delete devices
  front/src/Devices/devices.js
Due: front-end

handleNotice, enable writing
  front/src/scheduling/Scheduling.js
Due: front-end

update packages to fix front tests
  front/package-lock.json
  front/package.json
Due: front-end

fix reservations seeds, user fixed users instead of random users
  back/config/config.js
  back/knex/development/seeds/02_users.js
Due: back-end

fix mistyped path
  front/src/Devices/devices.test.js
Due: front-end

smaller navigation bar
  front/src/navbar/Nav.module.scss
Due: front-end

logo's max-width reduced
  front/src/navbar/Nav.module.scss
Due: front-end

Update README.md
  README.md
Due: none

Fixed case sensitivity
  front/src/Devices/devices.test.js
Due: front-end

Revert "Fixed case sensitivity"
  front/src/Devices/devices.test.js
Due: front-end

updated design of navigation bar
  front/src/navbar/Nav.module.scss
Due: front-end

screen sizes for mobile media query corrected
  front/src/navbar/Nav.module.scss
Due: front-end

Security update (#230)
  back/package-lock.json
  back/package.json
  front/package-lock.json
  front/package.json
  front/src/Devices/devices.test.js
Due: front-end, back-end

rewrite associations' getSupervisions functionality
  back/controllers/rangeSupervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/routes.js
  back/services/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/api/api.js
Due: front-end, back-end

Give rights to rangemaster to change track supervisor state
  back/routes.js
Due: back-end

start check up for email and password + add notification for success/failure
  front/src/EmailSettings/EmailSettings.js
Due: front-end

change email requirement
  front/src/EmailSettings/EmailSettings.js
Due: front-end

Add constant rangemaster user. Some comments in 02_users seed file
  back/knex/development/seeds/02_users.js
Due: back-end

comments
  back/knex/development/seeds/02_users.js
Due: back-end

debugging mailer functionality
  back/controllers/rangeSupervision.js
  back/knex/development/seeds/02_users.js
  back/knex/development/seeds/09_settings.js
  back/mailer.js
Due: back-end
