Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

Refactor ChangePassword
  front/src/api/api.js
  front/src/navbar/FeedbackWindow.js
  front/src/profile/profilepages/ChangePassword.module.scss
  front/src/profile/profilepages/changepassword.js
  front/src/profile/profilesettings.js
  front/src/shared.module.scss
  front/src/texts/texts.json
Due: front-end

Refactor ProfileSettings
  front/src/profile/ProfileSettings.module.scss
  front/src/profile/profilesettings.js
Due: front-end

Refactor nav
  front/src/api/api.js
  front/src/navbar/FeedbackWindow.js
  front/src/navbar/FeedbackWindow.test.js
  front/src/navbar/Nav.css
  front/src/navbar/Nav.js
  front/src/navbar/Nav.module.scss
Due: front-end

Dayview and Infoboxes style refactor
  back/package-lock.json
  front/package-lock.json
  front/package.json
  front/src/colors.module.scss
  front/src/dayview/Dayview.js
  front/src/dayview/Dayview.module.scss
  front/src/infoboxes/Infoboxes.css
  front/src/infoboxes/Infoboxes.js
  front/src/infoboxes/Infoboxes.module.scss
  front/src/shared.module.scss
  package-lock.json
Due: front-end, back-end

Refactor SignIn
  front/src/shared.module.scss
  front/src/signin/SignIn.js
  front/src/signin/SignIn.module.scss
Due: front-end

Refactor resetPassword
  front/src/api/api.js
  front/src/resetPW/ResetPassword.js
  front/src/resetPW/ResetPassword.module.scss
  front/src/shared.module.scss
  front/src/signin/SignIn.js
Due: front-end

Refactor RenewPassword
  front/src/api/api.js
  front/src/renewPW/RenewPassword.js
  front/src/renewPW/RenewPassword.module.scss
  front/src/resetPW/ResetPassword.js
  front/src/shared.module.scss
Due: front-end

balance number of raffled supervisions
  back/models/members.js
  back/services/raffle.js
Due: back-end

cleaned some console logs
  back/models/members.js
  back/services/raffle.js
Due: back-end

Add color definitions to frontend
  front/package-lock.json
  front/package.json
  front/src/colors.module.scss
Due: front-end

Add Organizations-table to Raffle page
  front/package.json
  front/src/App.js
  front/src/api/api.js
  front/src/navbar/Nav.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/usersTable.js
  front/src/raffle/usersTable.module.scss
  front/src/texts/texts.json
Due: front-end

Set supervisors according to raffle results - endpoint
  back/controllers/index.js
  back/controllers/raffleSupervisors.js
  back/routes.js
  back/services/index.js
  back/services/raffleSupervisors.js
  back/validators/index.js
  back/validators/raffleSupervisors.js
Due: back-end

Add a reminder to enable endpoint to be called only by superuser
  back/routes.js
Due: back-end

Test from /changeownpassword
  back/__tests__/changeOwnPassword.test.js
Due: back-end

Clean up
  back/__tests__/changeOwnPassword.test.js
Due: back-end

Workflow for publishing docker images to ghcr
  .github/workflows/build_docker.yml
  Dockerfile
  deploy/startup.sh
Due: none

Tests for changeOwnPassword
  back/__tests__/changeOwnPassword.test.js
Due: back-end

Change comment
  back/__tests__/user.test.js
Due: back-end

Bug fix for the shooting track visitor number stats
  front/src/tabletview/rangeofficer.js
Due: front-end

Tests for trackSupervision
  back/__tests__/trackSupervision.test.js
  back/models/__mocks__/trackSupervision.js
  back/models/__mocks__/user.js
Due: back-end

Refactor user mock from all test modules into own single module.
  back/__tests__/changeOwnPassword.test.js
  back/__tests__/resetPassword.test.js
  back/__tests__/sign.test.js
  back/__tests__/user.test.js
  back/models/__mocks__/user.js
Due: back-end

Move ResetPassword's form to its own component
  front/src/resetPW/ResetPassword.js
  front/src/resetPW/ResetPasswordForm.js
Due: front-end

Applied some of the suggestions from the review
  front/package.json
  front/src/infoboxes/Infoboxes.module.scss
  front/src/shared.module.scss
Due: front-end

Add react-day-picker
  front/package-lock.json
  front/package.json
Due: front-end

Add texts for RaffleDatePicker
  front/src/texts/texts.json
Due: front-end

RaffleDatePicker component
  front/src/raffle/RaffleDatePicker.js
Due: front-end

Refactor Infoboxes, Day-, Week- & Monthview styles
  front/src/colors.module.scss
  front/src/dayview/Dayview.js
  front/src/dayview/Dayview.module.scss
  front/src/infoboxes/Infoboxes.css
  front/src/infoboxes/Infoboxes.js
  front/src/infoboxes/Infoboxes.module.scss
  front/src/monthview/Monthview.js
  front/src/monthview/Monthview.module.scss
  front/src/shared.module.scss
  front/src/statistics/Statistics.js
  front/src/weekview/Weekview.js
  front/src/weekview/Weekview.module.scss
Due: front-end

Autoformat previous refactor's files
  front/src/colors.module.scss
  front/src/infoboxes/Infoboxes.module.scss
Due: front-end

Update packages, remove concurrently and npm run dev now launches docker-compose
  back/package-lock.json
  back/package.json
Due: back-end

Fix frontend packages and docker dev environment problems
  back/Dockerfile
  docker-compose.dev.yaml
  front/Dockerfile
  front/package.json
Due: front-end, back-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
