Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

add rangeofficer id to association reference table
  back/controllers/user.js
  back/middlewares/user.js
  back/models/user.js
Due: back-end

role based authentication checks for profile and tabletviews
  front/src/App.js
  front/src/navbar/Nav.js
  front/src/profile/profilesettings.js
  front/src/tabletview/rangeofficer.js
Due: front-end

loan devices component
  front/src/App.js
  front/src/Devices/devices.js
  front/src/Devices/devices.module.scss
  front/src/Devices/devices.test.js
  front/src/Reservations/Reservations.scss
  front/src/Reservations/reservations.js
  front/src/navbar/Nav.js
  front/src/tabletview/rangeofficer.js
  front/src/texts/texts.json
Due: front-end

Converted scheduling from class to function
  front/src/scheduling/Scheduling.js
Due: front-end

Slidereiden päivitys sinisestä vihreäksi
  front/src/scheduling/Scheduling.js
Due: front-end

Added notifications & better error handling to rangeofficer form
  front/src/profile/profilepages/ChangePassword.module.scss
  front/src/profile/profilepages/rangeofficers.js
  front/src/texts/texts.json
Due: front-end

lainalaitteiden style
  front/src/Devices/devices.js
  front/src/Devices/devices.module.scss
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
Due: front-end

Backend route updates for getting rangeofficers
  back/controllers/user.js
  back/middlewares/user.js
  back/models/user.js
  back/routes.js
  back/services/user.js
  back/validators/user.js
  front/src/api/api.js
  front/src/profile/profilepages/rangeofficers.js
Due: front-end, back-end

fixed getrangeofficer route
  back/middlewares/user.js
  back/models/user.js
  back/routes.js
  back/services/user.js
  back/validators/user.js
  front/src/api/api.js
  front/src/profile/profilepages/rangeofficers.js
Due: front-end, back-end

Updated rangeofficer component, knex file removes all tables
  back/knex/development/seeds/01_truncate.js
  front/src/profile/profilepages/rangeofficers.js
Due: front-end, back-end

Add rangemaster role
  back/knex/development/migrations/20240304144824_update_users_table.js
  back/knex/development/migrations/20240304163024_update_scheduled_range_supervision.js
  back/knex/development/seeds/01_truncate.js
  back/knex/development/seeds/02_users.js
  back/knex/development/seeds/10_rangeofficers.js
  back/routes.js
  front/src/navbar/Nav.js
  front/src/tabletview/rangeofficer.js
  front/src/texts/texts.json
  front/src/usermanagement/UserManagementView.js
Due: front-end, back-end

update rangeofficer seed file
  back/knex/development/seeds/10_rangeofficers.js
Due: back-end

Alphabetical order for list in dropdown menu in scheduling
  front/src/scheduling/Scheduling.js
Due: front-end

changed UserManagementView to function
  front/src/navbar/Nav.test.js
  front/src/usermanagement/UserManagementView.js
Due: front-end

minor fix to shceduling texts
  front/src/scheduling/Scheduling.js
Due: front-end

small fix to scheduling sort
  front/src/scheduling/Scheduling.js
Due: front-end

Backend routes & frontend connected for range supervision timestamps
  back/knex/development/migrations/20240314155937_update_range_supervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end, back-end

removed console logs
  back/knex/development/migrations/20240314155937_update_range_supervision.js
  back/middlewares/rangeSupervision.js
Due: back-end

enabled window reload after submit
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

small fixes to supervision window
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

Timestamp backend (#205)
  back/knex/development/migrations/20240314155937_update_range_supervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end, back-end

Delete rangeofficers action, updated ro table functionalities
  back/knex/development/migrations/20240305115457_create_table_association_rangeofficers.js
  back/middlewares/user.js
  back/routes.js
  front/src/api/api.js
  front/src/profile/profilepages/rangeofficers.js
  front/src/shared.module.scss
  front/src/texts/texts.json
Due: front-end, back-end

removed console logs & commented code
  back/routes.js
  front/src/api/api.js
Due: front-end, back-end

varausominaisuuden käyttöliittymä
  front/src/Devices/devices.js
  front/src/Devices/devices.module.scss
  front/src/Devices/devices.test.js
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
  front/src/texts/texts.json
Due: front-end

db & backend routes for loan devices
  back/controllers/devices.js
  back/controllers/index.js
  back/knex/development/migrations/20240328172311_create_table_devices.js
  back/middlewares/devices.js
  back/middlewares/index.js
  back/models/devices.js
  back/models/index.js
  back/routes.js
  back/services/devices.js
  back/services/index.js
  back/validators/devices.js
  back/validators/index.js
Due: back-end

Add new frontend API functions, backend database seeding, and implement device component api calls
  back/knex/development/seeds/01_truncate.js
  back/knex/development/seeds/11_devices.js
  back/middlewares/devices.js
  back/models/devices.js
  back/validators/devices.js
  front/src/Devices/devices.js
  front/src/api/api.js
Due: front-end, back-end

Added ButtonComponent to Dayview.js for loan equipment
  front/src/ButtonComponent/ButtonComponent.js
  front/src/ButtonComponent/ButtonComponent.module.scss
  front/src/dayview/Dayview.js
Due: front-end

infoviesti tablettinäkymään
  back/controllers/infoMessage.js
  back/routes.js
  front/src/api/api.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/texts/texts.json
Due: front-end, back-end

Revert "Timestamp backend (#205)"
  back/knex/development/migrations/20240314155937_update_range_supervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end, back-end

revert to 5b8bc9aac2488f8a328b87a663cd5141e6888648
  back/controllers/infoMessage.js
  back/routes.js
  front/src/api/api.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/texts/texts.json
  front/src/weekview/Weekview.js
Due: front-end, back-end

updated rest of the loan frontend api calls
  back/models/devices.js
  front/src/Devices/devices.js
  front/src/api/api.js
Due: front-end, back-end

removed console log
  front/src/api/api.js
Due: front-end

Rangeofficer management form & features (#207)
  back/controllers/user.js
  back/knex/development/migrations/20240305115457_create_table_association_rangeofficers.js
  back/middlewares/user.js
  back/models/user.js
  back/routes.js
  back/services/user.js
  back/validators/user.js
  front/src/api/api.js
  front/src/profile/profilepages/ChangePassword.module.scss
  front/src/profile/profilepages/rangeofficers.js
  front/src/shared.module.scss
  front/src/texts/texts.json
Due: front-end, back-end

infoviesti tablettinäkymään (#208)
  back/controllers/infoMessage.js
  back/routes.js
  front/src/api/api.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/texts/texts.json
Due: front-end, back-end

Rangeofficer features (#209)
  back/controllers/user.js
  back/knex/development/migrations/20240305115457_create_table_association_rangeofficers.js
  back/middlewares/user.js
  back/models/user.js
  back/routes.js
  back/services/user.js
  back/validators/user.js
  front/src/api/api.js
  front/src/profile/profilepages/ChangePassword.module.scss
  front/src/profile/profilepages/rangeofficers.js
  front/src/shared.module.scss
  front/src/texts/texts.json
Due: front-end, back-end

Timestamp backend
  back/knex/development/migrations/20240314155937_update_range_supervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end, back-end

Timestamp backend (#212)
  back/knex/development/migrations/20240314155937_update_range_supervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end, back-end

Weekview updated and small fix to scheduling
  front/src/scheduling/Scheduling.js
  front/src/weekview/Weekview.js
Due: front-end

Fixed issues resulting from botched merge
  front/src/scheduling/Scheduling.js
  front/src/weekview/Weekview.js
Due: front-end
