Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

just dates from backend
  back/controllers/index.js
  back/controllers/raffle.js
  back/middlewares/index.js
  back/middlewares/raffle.js
  back/routes.js
  back/services/index.js
  back/services/raffle.js
Due: back-end

Add supervisor to members table
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

Add members table
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

required files for read members
  back/middlewares/members.js
  back/routes.js
  back/services/members.js
Due: back-end

members get doned
  back/models/members.js
  back/routes.js
  back/services/members.js
Due: back-end

both members and members/id get working
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

temp stash
  back/controllers/members.js
  back/middlewares/members.js
  back/models/members.js
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

optional range_id for raffle backend
  back/services/raffle.js
Due: back-end

backend raffles correct amount
  back/services/raffle.js
Due: back-end

removed extra logging
  back/services/raffle.js
Due: back-end

balance number of raffled supervisions
  back/models/members.js
  back/services/raffle.js
Due: back-end

raffle raffling one too many
  back/routes.js
  back/services/members.js
  back/services/raffle.js
Due: back-end

Add cascading deletion to members
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

Set supervisors according to raffle results - endpoint
  back/controllers/index.js
  back/controllers/raffleSupervisors.js
  back/routes.js
  back/services/index.js
  back/services/raffleSupervisors.js
  back/validators/index.js
  back/validators/raffleSupervisors.js
Due: back-end

Add a reminder to enable endpoint to be called only by superuser
  back/routes.js
Due: back-end

members haku ja päivitys toimii
  back/controllers/members.js
  back/middlewares/members.js
  back/models/members.js
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

optional range_id for raffle backend
  back/services/raffle.js
  back/validators/raffle.js
Due: back-end

dates as input for raffle backend
  back/middlewares/raffle.js
  back/routes.js
  back/services/raffle.js
  back/validators/index.js
  back/validators/raffle.js
Due: back-end

Add raffle attribute to members-table
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/development/seeds/10_members.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
  back/models/members.js
  back/services/members.js
  back/validators/members.js
Due: back-end

cleaned some console logs
  back/models/members.js
  back/services/raffle.js
Due: back-end

raffle now raffles equally on both weekends and weekdays
  back/services/raffle.js
Due: back-end

Add user's names to get members -route
  back/models/members.js
  back/services/members.js
Due: back-end

Fix routes
  back/routes.js
Due: back-end

Clean up
  back/controllers/members.js
  back/controllers/raffleSupervisors.js
  back/models/members.js
Due: back-end

dates as input for raffle backend
  back/validators/index.js
  back/validators/raffle.js
Due: back-end

added raffle create route to routes
  back/routes.js
Due: back-end

Add texts for RaffleDatePicker
  front/src/texts/texts.json
Due: front-end

Add Organizations-table to Raffle page
  front/src/App.js
  front/src/api/api.js
  front/src/navbar/Nav.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/usersTable.js
  front/src/raffle/usersTable.module.scss
  front/src/texts/texts.json
Due: front-end

Add react-day-picker
  front/package-lock.json
  front/package.json
Due: front-end

RaffleDatePicker component
  front/src/raffle/RaffleDatePicker.js
Due: front-end

Add styling & week selector to RaffleDatePicker
  front/src/raffle/RaffleDatePicker.js
  front/src/raffle/RaffleDatePicker.scss
  front/src/raffle/raffle.js
  front/src/utils/Utils.js
Due: front-end

Fix select styles
  front/src/raffle/resultsTable.js
  front/src/raffle/usersTable.module.scss
Due: front-end

Refactor code read readability
  front/src/raffle/SupervisionResultsTable.js
  front/src/raffle/SupervisorsTable.js
  front/src/raffle/raffle.js
Due: front-end

Add raffle results saving frontend
  front/src/api/api.js
  front/src/raffle/raffle.js
  front/src/texts/texts.json
Due: front-end

Add logged in -check to raffle
  front/src/raffle/raffle.js
Due: front-end

Add raffle results frontend
  back/routes.js
  front/package.json
  front/src/api/api.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/resultsTable.js
  front/src/raffle/usersTable.module.scss
  front/src/texts/texts.json
  front/src/utils/Utils.js
Due: front-end, back-end

Clean up console.logs and comments
  back/controllers/index.js
  back/validators/raffleSupervisors.js
Due: back-end

Add raffle SupervisionAmountsTable, sort results
  front/src/raffle/SupervisionAmountsTable.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/resultsTable.js
  front/src/raffle/table.module.scss
  front/src/raffle/usersTable.js
  front/src/texts/texts.json
Due: front-end

add superuser check for raffle endpoint
  back/routes.js
Due: back-end

Fix little oopsie with rebasing.
  back/validators/index.js
  back/validators/raffle.js
Due: back-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
