Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Upgrade to React 18 & conflicting deps
  front/package-lock.json
  front/package.json
Due: front-end

upgraded material ui packages to mui v5
  front/package-lock.json
  front/package.json
Due: front-end

Update imports to mui 5
  front/src/App.js
  front/src/EmailSettings/EmailSettings.js
  front/src/TrackStatistics/TrackStatistics.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/api/api.js
  front/src/dayview/Dayview.js
  front/src/edittracks/tracks.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/monthview/Monthview.js
  front/src/navbar/FeedbackWindow.js
  front/src/navbar/FeedbackWindow.test.js
  front/src/navbar/Nav.js
  front/src/navbar/SupervisorNotification.js
  front/src/profile/profilepages/changepassword.js
  front/src/profile/profilesettings.js
  front/src/raffle/RaffleDatePicker.js
  front/src/raffle/SupervisionAmountsTable.js
  front/src/raffle/SupervisionResultsTable.js
  front/src/raffle/SupervisorsTable.js
  front/src/raffle/raffle.js
  front/src/renewPW/RenewPassword.js
  front/src/resetPW/ResetPassword.js
  front/src/resetPW/ResetPassword.test.js
  front/src/resetPW/ResetPasswordForm.js
  front/src/scheduling/Scheduling.js
  front/src/serviceWorker.js
  front/src/signin/SignIn.js
  front/src/statistics/Statistics.js
  front/src/tabletview/rangeofficer.js
  front/src/trackview/Trackview.js
  front/src/upcomingsupervisions/LoggedIn.js
  front/src/usermanagement/UserManagementView.js
  front/src/utils/Utils.js
  front/src/weekview/Weekview.js
Due: front-end

mui 5: restored Snackbard position similar to v4
  front/src/edittracks/tracks.js
  front/src/raffle/raffle.js
  front/src/scheduling/Scheduling.js
  front/src/statistics/Statistics.js
Due: front-end

mui 5: rename textfield margin to size
  front/src/usermanagement/UserManagementView.js
Due: front-end

mui 5: date picker migration
  front/package-lock.json
  front/package.json
  front/src/EmailSettings/EmailSettings.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/scheduling/Scheduling.js
  front/src/statistics/Statistics.js
  front/src/tabletview/rangeofficer.js
Due: front-end

fixed texts import and react root render
  front/src/EmailSettings/EmailSettings.js
  front/src/index.js
Due: front-end

mui 5: removed @mui/styles related things, added tss-react for themes and styles
  front/package-lock.json
  front/package.json
  front/src/TrackStatistics/TrackStatistics.js
  front/src/navbar/Nav.js
  front/src/raffle/raffle.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

fixed imports
  front/package-lock.json
  front/src/EmailSettings/EmailSettings.js
  front/src/TrackStatistics/TrackStatistics.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/edittracks/tracks.js
  front/src/navbar/Nav.js
  front/src/raffle/raffle.js
  front/src/tabletview/rangeofficer.js
Due: front-end

refactored parts of raffle to match dependency updates
  front/package-lock.json
  front/package.json
  front/src/raffle/RaffleDatePicker.js
Due: front-end

minor fix to raffle ui
  front/src/raffle/RaffleDatePicker.js
Due: front-end

react 17 update & related libraries
  front/package-lock.json
  front/package.json
Due: front-end

testi
  front/src/navbar/Nav.js
  front/src/texts/texts.json
Due: front-end

testi
  front/src/texts/texts.json
Due: front-end

varauksen komponentti
  front/src/Reservations/Reservations.scss
  front/src/Reservations/reservations.js
  front/src/Reservations/reservations.test.js
  front/src/navbar/Nav.js
  front/src/texts/texts.json
Due: front-end

sl
  front/src/Reservations/Reservations.scss
  front/src/Reservations/reservations.js
  front/src/Reservations/reservations.test.js
Due: front-end

added route and scss class variable
  front/src/App.js
  front/src/Reservations/reservations.js
  front/src/navbar/Nav.js
Due: front-end

knex role migrations: update users table
  back/.eslintrc.js
  back/knex/development/migrations/20240304144824_update_users_table.js
Due: back-end

knex role migrations: update supervisors table
  back/knex/development/migrations/20240304153240_update_supervisors_table.js
Due: back-end

updated and added role migrations
  back/knex/development/migrations/20240304144824_update_users_table.js
  back/knex/development/migrations/20240304153240_update_supervisors_table.js
  back/knex/development/migrations/20240304163024_update_scheduled_range_supervision.js
  back/knex/development/migrations/20240304170613_update_members_table.js
Due: back-end

selitysteksti saapumisajalle viikkonäkymään
  front/src/texts/texts.json
Due: front-end

rangeofficer_id column to shceduled shifts
  back/knex/development/migrations/20240304163024_update_scheduled_range_supervision.js
Due: back-end

create table association_rangeofficers
  back/knex/development/migrations/20240304163024_update_scheduled_range_supervision.js
  back/knex/development/migrations/20240305115457_create_table_association_rangeofficers.js
Due: back-end

Arvioitu saapumisaika teksti lisätty valvojan vahvistusikkunaan
  front/src/texts/texts.json
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

updated Posgres image 9 -> 13
  docker-compose.dev.yaml
Due: none

fixes to knex migration files
  back/knex/development/migrations/20240304144824_update_users_table.js
  back/knex/development/migrations/20240304153240_update_supervisors_table.js
  back/knex/development/migrations/20240304163024_update_scheduled_range_supervision.js
  back/knex/development/migrations/20240305115457_create_table_association_rangeofficers.js
Due: back-end

Updated seed files to match role changes in db
  back/knex/development/seeds/01_truncate.js
  back/knex/development/seeds/02_users.js
  back/knex/development/seeds/06_scheduled_range_supervision.js
  back/knex/development/seeds/07_range_supervision.js
  back/knex/development/seeds/08_track_supervision.js
  back/knex/development/seeds/10_members.js
Due: back-end

fix to eslint
  back/.eslintrc.js
Due: back-end

Converted Dayview component form class based to functional
  front/src/dayview/Dayview.js
Due: front-end

changed supervisor_id -> association_id in backend
  back/controllers/daterange.js
  back/controllers/oldSchedule.js
  back/controllers/rangeSupervision.js
  back/middlewares/schedule.js
  back/models/rangeSupervision.js
  back/models/schedule.js
  back/services/raffleSupervisors.js
  back/services/schedule.js
  back/validators/raffleSupervisors.js
  back/validators/schedule.js
Due: back-end

supervisor tables & objects match association
  back/controllers/rangeSupervision.js
  back/models/members.js
  back/models/rangeSupervision.js
  back/models/user.js
  back/routes.js
  back/services/members.js
  back/services/raffle.js
  back/services/raffleSupervisors.js
  back/validators/members.js
  back/validators/rangeSupervision.js
  back/validators/user.js
Due: back-end

kellonajan ilmoittamisen lisäys valvojan vahvistus -ikkunaan
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

association id changes to frontend
  front/src/_TestUtils/TestUtils.js
  front/src/raffle/raffle.js
  front/src/scheduling/Scheduling.js
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end

Role updates to frontend api calls, tests and somelabels
  front/src/_TestUtils/TestUtils.js
  front/src/api/api.js
  front/src/dayview/Dayview.js
  front/src/raffle/SupervisionResultsTable.js
  front/src/raffle/SupervisorsTable.js
  front/src/raffle/raffle.js
  front/src/resetPW/ResetPassword.test.js
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.test.js
  front/src/signin/Signin.test.js
  front/src/usermanagement/UserManagementView.js
  front/src/utils/Utils.js
Due: front-end

fixed a bug in raffle
  front/src/App.js
  front/src/raffle/SupervisionAmountsTable.js
  front/src/raffle/raffle.js
Due: front-end

Converted monthview from class based to functional
  front/src/monthview/Monthview.js
Due: front-end

Updated frontend descriptions to match rangeofficer role
  front/src/scheduling/Scheduling.js
  front/src/texts/texts.json
  front/src/usermanagement/UserManagementView.js
Due: front-end

update on db
  back/knex/development/migrations/20240304163024_update_scheduled_range_supervision.js
  back/knex/development/migrations/20240314155937_update_range_supervision.js
Due: back-end

range officer form added
  front/src/App.js
  front/src/profile/profilepages/rangeofficers.js
  front/src/profile/profilesettings.js
  front/src/texts/texts.json
Due: front-end

add rangeofficer form functionality on front & back
  back/controllers/user.js
  back/middlewares/user.js
  back/models/user.js
  back/routes.js
  back/validators/user.js
  front/src/api/api.js
  front/src/profile/profilepages/rangeofficers.js
  front/src/profile/profilesettings.js
Due: front-end, back-end
