Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

correct startup file name
  .github/workflows/integration_tests.yml
Due: none

add front deploy and migrations
  .github/workflows/integration_tests.yml
Due: none

move env variables to env step
  .github/workflows/integration_tests.yml
Due: none

implemented track status
  back/controllers/oldSchedule.js
  front/src/tabletview/rangeofficer.js
Due: front-end, back-end

add sand to export
  front/src/colors.module.scss
Due: front-end

refactor color codes to use scss
  front/src/App.js
Due: front-end

refactor color codes to use scss
  front/src/scheduling/Scheduling.js
Due: front-end

change colors
  front/src/profile/ProfileSettings.module.scss
Due: front-end

change colors
  front/src/profile/profilepages/ChangePassword.module.scss
Due: front-end

change colors to tabletview
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
Due: front-end

change one button color
  front/src/shared.module.scss
Due: front-end

Monthview UI updated
  front/Dockerfile
  front/src/dayview/Dayview.module.scss
  front/src/monthview/Monthview.js
  front/src/monthview/Monthview.module.scss
  front/src/navbar/Nav.module.scss
  front/src/shared.module.scss
  front/src/weekview/Weekview.module.scss
Due: front-end

Update dayview
  front/src/App.js
  front/src/dayview/Dayview.module.scss
  front/src/shared.module.scss
Due: front-end

remove App.scss
  front/src/App.scss
Due: front-end

Add v4 scheduling bug fix
  front/src/api/api.js
Due: front-end

change one color code
  front/src/App.js
Due: front-end

change color codes
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
Due: front-end

change postgres host
  .github/workflows/integration_tests.yml
Due: none

change db host ip
  back/knexfile.js
Due: back-end

change db host
  back/knexfile.js
Due: back-end

use DB_HOST to configure migrations correctly
  .github/workflows/integration_tests.yml
  back/knexfile.js
Due: back-end

add run backend step
  .github/workflows/integration_tests.yml
Due: none

remove unnecessary job
  .github/workflows/integration_tests.yml
Due: none

run backeng in backround
  .github/workflows/integration_tests.yml
Due: none

add cypress dependency
  back/package-lock.json
  back/package.json
Due: back-end

change cypress working directory
  .github/workflows/integration_tests.yml
Due: none

start backend with cypress action
  .github/workflows/integration_tests.yml
Due: none

different env params formatting for cypress action
  .github/workflows/integration_tests.yml
Due: none

add working dir
  .github/workflows/integration_tests.yml
Due: none

fix two shades
  front/src/colors.module.scss
Due: front-end

change colors
  front/src/dayview/Dayview.module.scss
Due: front-end

change calendar colors
  front/src/raffle/RaffleDatePicker.scss
Due: front-end

change bg color for result table
  front/src/raffle/table.module.scss
Due: front-end

change colors
  front/src/raffle/raffle.module.scss
Due: front-end

Button disability added in Tablet view
  front/src/TrackStatistics/TrackStatistics.js
Due: front-end

change one cream shade to grey
  front/src/colors.module.scss
  front/src/utils/Utils.js
Due: front-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
