Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

script trial
  .github/workflows/integration_tests.yml
Due: none

reschuling bug fix
  front/src/api/api.js
Due: front-end

build ui
  .github/workflows/integration_tests.yml
  cypress.json
Due: none

script trial
  .github/workflows/integration_tests.yml
  front/package-lock.json
Due: front-end

clean up
  .github/workflows/integration_tests.yml
Due: none

Production database migrations for infomessages
  back/knex/stable/migrations/20220326181519_add_recipients_column_to_infomessage.js
  back/knex/stable/migrations/20220331143553_add_sender_column_to_info_messages.js
Due: back-end

date picker removed
  front/src/tabletview/rangeofficer.js
Due: front-end

tabletView Sequence Issue Fixed
  front/src/TrackStatistics/TrackStatistics.js
  front/src/tabletview/rangeofficer.js
Due: front-end

issue fixing
  front/src/tabletview/rangeofficer.js
Due: front-end

fixes
  front/src/tabletview/rangeofficer.js
Due: front-end

e2e test
  back/.gitignore
  back/cypress.json
  back/cypress/.eslintrc.json
  back/cypress/integration/login.spec.js
  back/knexfile.js
  back/package-lock.json
  back/package.json
Due: back-end

add documentation
  .github/workflows/end2end_tests.yml
  back/cypress/README.md
  back/cypress/integration/login.spec.js
Due: back-end

Update README.md
  back/cypress/README.md
Due: back-end

cleanup
  back/cypress/integration/login.spec.js
Due: back-end

do not include e2e-tests in jest runs
  back/package.json
Due: back-end

update eslint version in fron
  front/package-lock.json
  front/package.json
Due: front-end

test path for front
  front/package.json
Due: front-end

eslint version back
  front/package.json
Due: front-end

update package
  front/package-lock.json
  front/package.json
Due: front-end

use yarn
  .github/workflows/end2end_tests.yml
  front/package-lock.json
  front/package.json
  front/yarn.lock
Due: front-end

use yarn
  .github/workflows/end2end_tests.yml
Due: none

add sleep to allow program to start
  .github/workflows/end2end_tests.yml
Due: none

add localhost as ip
  .github/workflows/end2end_tests.yml
Due: none

localhost as address
  front/src/setupProxy.js
Due: front-end

add wait-on
  .github/workflows/end2end_tests.yml
Due: none

dont wait on backend
  .github/workflows/end2end_tests.yml
Due: none

simplify postgres
  .github/workflows/end2end_tests.yml
Due: none

change node version
  .github/workflows/end2end_tests.yml
Due: none

add env vars
  .github/workflows/end2end_tests.yml
Due: none

revert changes
  .github/workflows/end2end_tests.yml
Due: none

package lock version fix
  front/package-lock.json
Due: front-end

test changes
  .github/workflows/end2end_tests.yml
  back/cypress.json
Due: back-end

delete yarn experiment
  front/yarn.lock
Due: front-end

cleanup
  .github/workflows/end2end_tests.yml
  back/cypress.json
  back/cypress/README.md
  back/knexfile.js
  front/src/setupProxy.js
Due: front-end, back-end

End to end testing framework, a sample test case and a GitHub actions pipeline (#164)
  .github/workflows/end2end_tests.yml
  back/.gitignore
  back/cypress.json
  back/cypress/.eslintrc.json
  back/cypress/README.md
  back/cypress/fixtures/example.json
  back/cypress/integration/login.spec.js
  back/cypress/plugins/index.js
  back/cypress/support/commands.js
  back/cypress/support/index.js
  back/package-lock.json
  back/package.json
  front/package.json
Due: front-end, back-end

Fixed weekday to lowercase to not cause a crash in Monthview
  front/src/monthview/Monthview.js
Due: front-end

tss-vi dev branch init & fix to docker compose
  docker-compose.dev.yaml
Due: none
