Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

Check if email credentials are real. Doesn't work yet
  back/mailer.js
  back/package-lock.json
  back/package.json
  back/routes.js
  front/package-lock.json
  front/package.json
  front/src/EmailSettings/EmailSettings.js
Due: front-end, back-end

added two boxes to the first section
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
  front/src/texts/texts.json
Due: front-end

fix to avoid potential TypeError
  back/controllers/rangeSupervision.js
Due: back-end

Use Ethereal to send dummy emails in dev environment
  back/controllers/rangeSupervision.js
  back/mailer.js
  docker-compose.dev.yaml
Due: back-end

change dev env emails to start with 'notactualemail'
  back/knex/development/seeds/02_users.js
Due: back-end

cleanup, comments
  back/controllers/rangeSupervision.js
  docker-compose.dev.yaml
Due: back-end

function for verifying email credentials
  back/mailer.js
Due: back-end

rewrite associations' getSupervisions functionality (#TSS19)
  back/controllers/rangeSupervision.js
  back/middlewares/rangeSupervision.js
  back/models/rangeSupervision.js
  back/routes.js
  back/services/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/api/api.js
Due: front-end, back-end

fix Utils.js unit tests
  front/src/utils/Utils.test.js
Due: front-end

fix Dayview unit tests by mocking InfoBox
  front/src/dayview/Dayview.test.js
Due: front-end

added two boxes to the third section
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
  front/src/texts/texts.json
Due: front-end

fix unit tests in monthview and weekview
  front/src/monthview/Monthview.test.js
  front/src/weekview/Weekview.test.js
Due: front-end

fix mocks in Scheduling.test.js
  front/src/scheduling/Scheduling.test.js
Due: front-end

add mock for InfoBox to fix unit tests for App.js
  front/src/App.test.js
Due: front-end

fix userManagement unit tests
  front/src/usermanagement/UserManagementView.test.js
Due: front-end

add api mocks for rangeofficer tests
  front/src/tabletview/rangeofficer.test.js
Due: front-end

Update @testing-library/jest-dom
  front/package-lock.json
  front/package.json
  front/src/App.test.js
  front/src/ButtonComponent/ButtonComponent.test.js
  front/src/Devices/devices.test.js
  front/src/TrackStatistics/TrackStatistics.test.js
  front/src/dayview/Dayview.test.js
  front/src/edittracks/tracks.test.js
  front/src/monthview/Monthview.test.js
  front/src/navbar/FeedbackWindow.test.js
  front/src/navbar/Nav.test.js
  front/src/navbar/SuperVisorNotification.test.js
  front/src/profile/tests/supervisions.test.js
  front/src/resetPW/ResetPassword.test.js
  front/src/scheduling/Scheduling.test.js
  front/src/setupTests.js
  front/src/signin/Signin.test.js
  front/src/trackview/Trackview.test.js
  front/src/upcomingsupervisions/LoggedIn.test.js
  front/src/usermanagement/UserManagementView.test.js
  front/src/utils/Utils.test.js
  front/src/weekview/Weekview.test.js
Due: front-end

Radio buttons changed to toggle switches
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
  front/src/texts/texts.json
Due: front-end

add role change button to user management
  front/src/texts/texts.json
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

remove email (Ethereal) stuff from
  docker-compose.dev.yaml
Due: none

add verifyEmailCredentials to updateSettings in back-end
  back/controllers/emailSettings.js
  back/controllers/rangeSupervision.js
  back/mailer.js
Due: back-end

Add checking input in email settings and update error notifications
  back/mailer.js
  back/routes.js
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end, back-end

Add checking input in email settings and update error notifications Clean up version history
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end

start check up for email and password + add notification for success/failure
  front/src/EmailSettings/EmailSettings.js
Due: front-end

change email requirement
  front/src/EmailSettings/EmailSettings.js
Due: front-end

Add checking input in email settings and update error notifications
  front/src/EmailSettings/EmailSettings.js
Due: front-end

implement role change in database
  back/models/user.js
  back/validators/user.js
  front/src/usermanagement/UserManagementView.js
Due: front-end, back-end

downgrade material-table version to evade known bugs
  front/package-lock.json
  front/package.json
Due: front-end

Fix front unit tests (#245)
  front/package-lock.json
  front/package.json
  front/src/App.test.js
  front/src/ButtonComponent/ButtonComponent.test.js
  front/src/Devices/devices.test.js
  front/src/TrackStatistics/TrackStatistics.test.js
  front/src/dayview/Dayview.test.js
  front/src/edittracks/tracks.test.js
  front/src/monthview/Monthview.test.js
  front/src/navbar/FeedbackWindow.test.js
  front/src/navbar/Nav.test.js
  front/src/navbar/SuperVisorNotification.test.js
  front/src/profile/tests/supervisions.test.js
  front/src/resetPW/ResetPassword.test.js
  front/src/scheduling/Scheduling.test.js
  front/src/setupTests.js
  front/src/signin/Signin.test.js
  front/src/tabletview/rangeofficer.test.js
  front/src/trackview/Trackview.test.js
  front/src/upcomingsupervisions/LoggedIn.test.js
  front/src/usermanagement/UserManagementView.test.js
  front/src/utils/Utils.test.js
  front/src/weekview/Weekview.test.js
Due: front-end

return pass
  back/controllers/emailSettings.js
Due: back-end

Show password in emailsettings view (#tss17)
  back/controllers/emailSettings.js
  back/models/emailSettings.js
  front/src/EmailSettings/EmailSettings.js
Due: front-end, back-end

Fix error messages. Add error messages for empty password and hostError.
  front/src/texts/texts.json
Due: front-end

Fixes #tw26 removing visitors happens twice
  front/src/TrackStatistics/TrackStatistics.js
Due: front-end

added range officer's status and functionality for superuser to edit it
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
  front/src/texts/texts.json
Due: front-end

run npm audit fix on front and back
  back/package-lock.json
  front/package-lock.json
Due: front-end, back-end

Remove hard coded checkings for email settings input. Add checks for verifyEmailCredentials errors to inform user of errors
  back/controllers/emailSettings.js
  back/mailer.js
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end, back-end

Set SSL to true by default.
  front/src/EmailSettings/EmailSettings.js
Due: front-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
