Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

script trial
  .github/workflows/integration_tests.yml
Due: none

add server address var
  back/cypress.json
Due: back-end

change cypress port
  back/cypress.json
Due: back-end

script trial
  .github/workflows/integration_tests.yml
  back/cypress.json
Due: back-end

change port to debug
  back/config/config.js
  back/cypress.json
Due: back-end

dont use port 8000
  back/server.js
  front/src/setupProxy.js
Due: front-end, back-end

8000 back
  .github/workflows/integration_tests.yml
  back/config/config.js
  back/server.js
  front/src/setupProxy.js
Due: front-end, back-end

cleanup
  .github/workflows/integration_tests.yml
  back/cypress.json
Due: back-end

set baseurl
  back/cypress.json
  back/cypress/integration/login.spec.js
Due: back-end

add wait-on
  back/package-lock.json
  back/package.json
Due: back-end

remove wait-on
  back/package-lock.json
  back/package.json
Due: back-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
