Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

Updated styles in table of users
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

change error message to be more fitting
  front/src/texts/texts.json
Due: front-end

run npm audit fix, removed critical security issues. Install newest version of cypress
  back/package-lock.json
  back/package.json
Due: back-end

Fix cypress test environment. Added fixme comments and skip two test cases in login.cy.js. Changed dev environment user emails to @email.com
  back/cypress.config.js
  back/cypress.json
  back/cypress/downloads/downloads.htm
  back/cypress/e2e/login.cy.js
  back/cypress/support/e2e.js
  back/knex/development/seeds/02_users.js
  back/package.json
Due: back-end

fix password validation, update package
  back/package-lock.json
  back/package.json
  back/validators/user.js
Due: back-end

add experimentalStudio for point-and-click
  back/cypress.config.js
  back/cypress/downloads/downloads.htm
Due: back-end

allow more characters to be used in password
  back/validators/user.js
Due: back-end

fix bug where new track breaks tablet view
  front/src/TrackStatistics/TrackStatistics.js
  front/src/tabletview/rangeofficer.js
Due: front-end

middle commit
  back/controllers/rangeSupervision.js
  front/src/EmailSettings/EmailSettings.js
Due: front-end, back-end

small changes
  back/controllers/rangeSupervision.js
  back/knex/development/seeds/09_settings.js
Due: back-end

read sendPending time for scheduling emails
  back/controllers/rangeSupervision.js
Due: back-end

refactoring, set schedule on GET rangesupervision
  back/controllers/emailSettings.js
  back/controllers/rangeSupervision.js
  back/mailer.js
  back/services/rangeSupervision.js
  front/src/EmailSettings/EmailSettings.js
Due: front-end, back-end

Added translation for word user
  front/src/texts/texts.json
Due: front-end

Table responsiveness updated for mobile devices
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

Added build-and-push workflow for front and back docker images
  .github/workflows/push_docker_back.yml
  .github/workflows/push_docker_front.yml
Due: none

update package.lock
  back/package-lock.json
Due: back-end

Fixed the text color of the buttons
  front/src/scheduling/Scheduling.scss
Due: front-end

Fixed the text color of the sign in button
  front/src/signin/SignIn.module.scss
Due: front-end

Fixed the text color of the buttons in tabletview
  front/src/tabletview/rangeofficer.module.scss
Due: front-end

Added translations for editing modes
  front/src/texts/texts.json
Due: front-end

Updated editing buttons for the table of users
  front/src/usermanagement/UserManagementView.js
Due: front-end

Some accessibility and responsiveness fixes
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

Updated hover color for buttons in navigation bar
  front/src/navbar/Nav.module.scss
Due: front-end

Updated border radius for buttons
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

Changed the height of infobox to fit-content
  front/src/trackview/Trackview.module.scss
Due: front-end

Marginal deleted from trackContainer
  front/src/TrackStatistics/TrackStatistics.module.scss
Due: front-end

fix: ensure createUser returns integer ID for all user roles
  back/models/user.js
  back/services/user.js
Due: back-end

Add and update login and user management related cypress tests
  back/cypress/e2e/login.cy.js
  front/src/usermanagement/UserManagementView.js
Due: front-end, back-end

Add cypress tests for opening and closing the center
  back/cypress/e2e/scheduling.cy.js
Due: back-end

ETA won't be shown in weekview if rangestatus is present
  front/src/weekview/Weekview.js
Due: front-end

track name printing fixed
  front/src/scheduling/Scheduling.js
Due: front-end

fix adding track error
  back/models/track.js
  back/services/track.js
Due: back-end

Fixed docker build tag
  .github/workflows/docker_build_back.yml
Due: none

Created git workflow for building front and backend Docker images
  .github/workflows/docker_build_back.yml
  .github/workflows/docker_build_front.yml
Due: none

Updated the workflow to build images
  .github/workflows/build_docker.yml
Due: none

Updated build condition
  .github/workflows/build_docker.yml
Due: none

Added fetchAssociation and printAssociatioName functions
  front/src/usermanagement/UserManagementView.js
Due: front-end

fix list not refreshing
  front/src/edittracks/tracks.js
Due: front-end

fix adding device error
  back/models/devices.js
  back/services/devices.js
Due: back-end

fix backend tests to fit password requirements
  back/__tests__/changeOwnPassword.test.js
  back/__tests__/sign.test.js
  back/__tests__/user.test.js
Due: back-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
