Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

change old material-ui imports to new MUI
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/src/ButtonComponent/ButtonComponent.js
  front/src/Devices/devices.js
  front/src/EmailSettings/EmailSettings.js
  front/src/TrackStatistics/TrackStatistics.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/dayview/Dayview.js
  front/src/edittracks/tracks.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/monthview/Monthview.js
  front/src/navbar/FeedbackWindow.js
  front/src/navbar/Nav.js
  front/src/navbar/SupervisorNotification.js
  front/src/profile/profilepages/changepassword.js
  front/src/profile/profilepages/officerform.js
  front/src/profile/profilepages/supervisions.js
  front/src/profile/profilesettings.js
  front/src/raffle/SupervisionAmountsTable.js
  front/src/raffle/SupervisionResultsTable.js
  front/src/raffle/SupervisorsTable.js
  front/src/raffle/raffle.js
  front/src/renewPW/RenewPassword.js
  front/src/resetPW/ResetPassword.js
  front/src/resetPW/ResetPasswordForm.js
  front/src/scheduling/Scheduling.js
  front/src/signin/SignIn.js
  front/src/statistics/Statistics.js
  front/src/tabletview/rangeofficer.js
  front/src/trackview/Trackview.js
  front/src/upcomingsupervisions/LoggedIn.js
  front/src/usermanagement/UserManagementView.js
  front/src/weekview/Weekview.js
Due: front-end

Update errors to match the real problems. Remove unnecessary messages.
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end

fix tw29, add character limit for scheduling text area
  front/src/scheduling/Scheduling.js
Due: front-end

Add error handling and notifications of success/error when 'save messages' is pressed
  back/controllers/emailSettings.js
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end, back-end

Add descriptive comments on function. Some refactoring. Add error handling to mailer.js
  back/controllers/emailSettings.js
  back/mailer.js
Due: back-end

first moment changes to LocalizationProvider
  front/src/EmailSettings/EmailSettings.js
  front/src/scheduling/Scheduling.js
  front/src/statistics/Statistics.js
Due: front-end

keep line breaks in text area
  front/src/scheduling/Scheduling.js
  front/src/trackview/Trackview.js
Due: front-end

implement adding association for rangeofficer
  back/models/user.js
  back/validators/user.js
  front/src/texts/texts.json
  front/src/usermanagement/UserManagementView.js
Due: front-end, back-end

made requested changes, new class and css rule
  front/src/trackview/Trackview.js
  front/src/trackview/Trackview.module.scss
Due: front-end

rewrite MaterialTable functionality with MUI
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/src/Devices/devices.js
  front/src/edittracks/tracks.js
  front/src/texts/texts.json
Due: front-end

wrapped date elements in moment
  front/src/VisitorLogging/VisitorLogging.js
  front/src/tabletview/rangeofficer.js
Due: front-end

update to mui v5->v6 and minor fixes
  front/package-lock.json
  front/package.json
  front/src/EmailSettings/EmailSettings.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/raffle/raffle.js
  front/src/scheduling/Scheduling.js
  front/src/statistics/Statistics.js
Due: front-end

Implement requested changes from review / eslint
  back/controllers/user.js
  back/middlewares/user.js
  back/models/user.js
  front/src/usermanagement/UserManagementView.js
Due: front-end, back-end

Change function name
  front/src/usermanagement/UserManagementView.js
Due: front-end

Fixed path to be compatible with Debian linux
  back/Dockerfile
Due: back-end

include arriving_at in the scheduling API response
  back/controllers/oldSchedule.js
  front/src/scheduling/Scheduling.js
Due: front-end, back-end

Remove throwing error in sendEmail. Add notification if no pending emails to send.
  back/controllers/emailSettings.js
  back/mailer.js
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end, back-end

Move notification text to correct spot in json
  front/src/texts/texts.json
Due: front-end

ui component change for eta and small layout change
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
Due: front-end

Fix typo
  front/src/texts/texts.json
Due: front-end

switch datepicker to timepicker, now some errors
  front/src/tabletview/rangeofficer.js
Due: front-end

minor datepicker fixes to tablet view
  front/src/tabletview/rangeofficer.js
Due: front-end

Change variable fin's name to lang like in other files
  front/src/tabletview/rangeofficer.js
Due: front-end

Implement disabling track buttons when the range officer absent/closed. Page needs reload in order to work.
  front/src/tabletview/rangeofficer.js
Due: front-end

important production fixes. All eslint errors are now warnings, because they would be too much work to fix now.
  Dockerfile
  back/Dockerfile
  front/.eslintrc.js
  front/Dockerfile
  front/package-lock.json
  front/package.json
Due: front-end, back-end

Implemented function to confirm and update ETA
  front/src/api/api.js
  front/src/scheduling/Scheduling.js
  front/src/utils/Utils.js
Due: front-end

Added ETA related translations
  front/src/texts/texts.json
Due: front-end

Separated status and ETA into own rows
  front/src/scheduling/Scheduling.scss
Due: front-end

add localization for add button
  front/src/Devices/devices.js
  front/src/texts/texts.json
Due: front-end

add button localization for edit track page
  front/src/edittracks/tracks.js
  front/src/texts/texts.json
Due: front-end

fix issue caused by mui version change
  front/src/TrackStatistics/TrackStatistics.js
Due: front-end

Typo fixed in aria-lable
  front/src/scheduling/Scheduling.js
Due: front-end

RenderInput replaced by slots in datepickers and small layout fixes
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
Due: front-end

Added check which also closes all tracks if the center is closed
  front/src/scheduling/Scheduling.js
Due: front-end

Added translations for user management
  front/src/texts/texts.json
Due: front-end

Updated structure for the table of users
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

fix error messages not resetting
  front/src/usermanagement/UserManagementView.js
Due: front-end

Added StyledEngineProvider to change the CSS injection order
  front/src/App.js
  front/src/index.js
Due: front-end

Implement #tss18b2, sending email as copy to wanted address
  README.md
  back/knex/development/seeds/09_settings.js
  back/mailer.js
  back/models/emailSettings.js
  back/services/emailSettings.js
  back/validators/emailSettings.js
  front/package-lock.json
  front/package.json
  front/src/EmailSettings/EmailSettings.js
  front/src/texts/texts.json
Due: front-end, back-end

Fixed typo in translations
  front/src/texts/texts.json
Due: front-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
