Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Add members seed data
  back/knex/development/seeds/10_members.js
Due: back-end

readded mistakenly remove package locks
  back/package-lock.json
  back/services/raffle.js
  front/package-lock.json
Due: front-end, back-end

Add cascading deletion to members
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

Add a reminder to enable endpoint to be called only by superuser
  back/routes.js
Due: back-end

raffle fixed dates getting repeated and some dates missing
  back/services/raffle.js
Due: back-end

members get doned
  back/models/members.js
  back/routes.js
  back/services/members.js
Due: back-end

Make set-raffled-supervisors endpoint read range id when setting supervisors
  back/models/index.js
  back/models/range.js
  back/services/raffleSupervisors.js
  front/package-lock.json
Due: front-end, back-end

Set supervisors according to raffle results - endpoint
  back/controllers/index.js
  back/controllers/raffleSupervisors.js
  back/routes.js
  back/services/index.js
  back/services/raffleSupervisors.js
  back/validators/index.js
  back/validators/raffleSupervisors.js
Due: back-end

Clean up
  back/controllers/members.js
  back/controllers/raffleSupervisors.js
  back/models/members.js
Due: back-end

cleaned some console logs
  back/models/members.js
  back/services/raffle.js
Due: back-end

balance number of raffled supervisions
  back/models/members.js
  back/services/raffle.js
Due: back-end

RaffleDatePicker component
  front/src/raffle/RaffleDatePicker.js
Due: front-end

backend raffles correct amount
  back/services/raffle.js
Due: back-end

optional range_id for raffle backend
  back/services/raffle.js
Due: back-end

raffle raffling one too many
  back/routes.js
  back/services/members.js
  back/services/raffle.js
Due: back-end

just dates from backend
  back/controllers/index.js
  back/controllers/raffle.js
  back/middlewares/index.js
  back/middlewares/raffle.js
  back/routes.js
  back/services/index.js
  back/services/raffle.js
Due: back-end

Fix user GET access rights
  back/controllers/user.js
  back/middlewares/user.js
  back/routes.js
  front/src/api/api.js
  front/src/navbar/Nav.js
  front/src/profile/profilepages/changepassword.js
  front/src/profile/profilesettings.js
  front/src/signin/SignIn.js
  front/src/usermanagement/UserManagementView.js
Due: front-end, back-end

Update packages, remove concurrently and npm run dev now launches docker-compose
  back/package-lock.json
  back/package.json
Due: back-end

Fix frontend packages and docker dev environment problems
  back/Dockerfile
  docker-compose.dev.yaml
  front/Dockerfile
  front/package.json
Due: front-end, back-end

Downgrade react-scripts
  front/package-lock.json
  front/package.json
Due: front-end

Add package-lock.json
  front/package-lock.json
Due: front-end

Fix frontend packages and docker dev environment problems
  front/package.json
Due: front-end

Give up on updating packages
  front/package-lock.json
  front/package.json
Due: front-end

Last fixes
  front/Dockerfile
  front/package.json
Due: front-end

Delete package.json
  front/package.json
Due: front-end

Fix docker-compose
  back/Dockerfile
  docker-compose.dev.yaml
  front/Dockerfile
Due: front-end, back-end

Some minor fixes to rangeofficer styles and tests.
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
  front/src/tabletview/rangeofficer.test.js
Due: front-end

rangeofficer style clean up/refactor
  front/src/tabletview/rangeofficer.css
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
Due: front-end

Rangeofficer tests fixed
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
  front/src/tabletview/rangeofficer.test.js
Due: front-end

Fixed a typo
  front/src/tabletview/rangeofficer.js
Due: front-end

Improve styling of SignIn -page
  front/src/signin/SignIn.js
  front/src/signin/SignIn.module.scss
Due: front-end

Change theme to use hex codes instead of variables
  front/src/resetPW/ResetPassword.js
  front/src/signin/SignIn.js
Due: front-end

Improve styling of 'Reset Password' form
  front/src/resetPW/ResetPassword.js
  front/src/resetPW/ResetPasswordForm.js
  front/src/texts/texts.json
Due: front-end

Edit styling of 'accept' and 'secondary' buttons
  front/src/colors.module.scss
  front/src/shared.module.scss
Due: front-end

Move ThemeProvide to app.js to apply it everywhere
  front/package-lock.json
  front/src/App.js
  front/src/resetPW/ResetPassword.js
  front/src/signin/SignIn.js
Due: front-end
