Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

change colors
  front/src/TrackStatistics/TrackStatistics.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/infoboxes/Infoboxes.module.scss
  front/src/navbar/FeedbackWindow.module.scss
  front/src/tabletview/rangeofficer.test.js
  front/src/trackview/Trackview.module.scss
  front/src/upcomingsupervisions/LoggedIn.js
  front/src/weekview/Weekview.js
Due: front-end

remove all cream shades
  front/src/colors.module.scss
Due: front-end

Dayview colors updated
  front/src/dayview/Dayview.module.scss
  front/src/monthview/Monthview.module.scss
Due: front-end

change button colors
  front/src/EmailSettings/EmailSettings.js
Due: front-end

Add small color fixes on monthview
  front/src/dayview/Dayview.module.scss
Due: front-end

add additional cypress dependencies
  .github/workflows/integration_tests.yml
Due: none

cypress dependencies changes
  .github/workflows/integration_tests.yml
Due: none

add dependency caching
  .github/workflows/integration_tests.yml
Due: none

remove container attribute
  .github/workflows/integration_tests.yml
Due: none

add container attribute
  .github/workflows/integration_tests.yml
Due: none

use psql action
  .github/workflows/integration_tests.yml
Due: none

add cypress config file
  back/cypress.json
Due: back-end

add cypress files
  back/cypress/fixtures/example.json
  back/cypress/integration/1-getting-started/todo.spec.js
  back/cypress/integration/2-advanced-examples/actions.spec.js
  back/cypress/integration/2-advanced-examples/aliasing.spec.js
  back/cypress/integration/2-advanced-examples/assertions.spec.js
  back/cypress/integration/2-advanced-examples/connectors.spec.js
  back/cypress/integration/2-advanced-examples/cookies.spec.js
  back/cypress/integration/2-advanced-examples/cypress_api.spec.js
  back/cypress/integration/2-advanced-examples/files.spec.js
  back/cypress/integration/2-advanced-examples/local_storage.spec.js
  back/cypress/integration/2-advanced-examples/location.spec.js
  back/cypress/integration/2-advanced-examples/misc.spec.js
  back/cypress/integration/2-advanced-examples/navigation.spec.js
  back/cypress/integration/2-advanced-examples/network_requests.spec.js
  back/cypress/integration/2-advanced-examples/querying.spec.js
  back/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  back/cypress/integration/2-advanced-examples/traversal.spec.js
  back/cypress/integration/2-advanced-examples/utilities.spec.js
  back/cypress/integration/2-advanced-examples/viewport.spec.js
  back/cypress/integration/2-advanced-examples/waiting.spec.js
  back/cypress/integration/2-advanced-examples/window.spec.js
  back/cypress/plugins/index.js
  back/cypress/support/commands.js
  back/cypress/support/index.js
  cypress.json
Due: back-end

Change Nav buttons to dark
  front/src/navbar/Nav.js
  front/src/navbar/Nav.module.scss
Due: front-end

add login test template
  back/cypress/integration/login.spec.js
Due: back-end

remove example files
  back/cypress/integration/1-getting-started/todo.spec.js
  back/cypress/integration/2-advanced-examples/actions.spec.js
  back/cypress/integration/2-advanced-examples/aliasing.spec.js
  back/cypress/integration/2-advanced-examples/assertions.spec.js
  back/cypress/integration/2-advanced-examples/connectors.spec.js
  back/cypress/integration/2-advanced-examples/cookies.spec.js
  back/cypress/integration/2-advanced-examples/cypress_api.spec.js
  back/cypress/integration/2-advanced-examples/files.spec.js
  back/cypress/integration/2-advanced-examples/local_storage.spec.js
  back/cypress/integration/2-advanced-examples/location.spec.js
  back/cypress/integration/2-advanced-examples/misc.spec.js
  back/cypress/integration/2-advanced-examples/navigation.spec.js
  back/cypress/integration/2-advanced-examples/network_requests.spec.js
  back/cypress/integration/2-advanced-examples/querying.spec.js
  back/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  back/cypress/integration/2-advanced-examples/traversal.spec.js
  back/cypress/integration/2-advanced-examples/utilities.spec.js
  back/cypress/integration/2-advanced-examples/viewport.spec.js
  back/cypress/integration/2-advanced-examples/waiting.spec.js
  back/cypress/integration/2-advanced-examples/window.spec.js
Due: back-end

fix typos
  .github/workflows/integration_tests.yml
  back/cypress/integration/login.spec.js
Due: back-end

remove cypress dependencies
  .github/workflows/integration_tests.yml
Due: none

script trial
  .github/workflows/integration_tests.yml
Due: none
