Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

get members actually working
  back/models/members.js
  back/services/members.js
Due: back-end

removed a wild semicolon
  back/models/members.js
Due: back-end

both members and members/id get working
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

temp stash
  back/controllers/members.js
  back/middlewares/members.js
  back/models/members.js
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

Add cascading deletion to members
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

Backend testing (#105)
  back/__mocks__/knex.js
  back/__mocks__/node-schedule.js
  back/__tests__/resetPassword.test.js
  back/__tests__/sign.test.js
  back/__tests__/signout.test.js
  back/__tests__/user.test.js
  back/app.js
  back/controllers/resetPassword.js
  back/package-lock.json
  back/package.json
  back/server.js
Due: back-end

Update packages, remove concurrently and npm run dev now launches docker-compose
  back/package-lock.json
  back/package.json
Due: back-end

Fix frontend packages and docker dev environment problems
  back/Dockerfile
  docker-compose.dev.yaml
  front/Dockerfile
  front/package-lock.json
  front/package.json
Due: front-end, back-end

Add package-lock.json
  front/package-lock.json
Due: front-end

Downgrade react-scripts
  front/package-lock.json
  front/package.json
Due: front-end

Refactor nav
  front/src/api/api.js
  front/src/navbar/FeedbackWindow.js
  front/src/navbar/FeedbackWindow.test.js
  front/src/navbar/Nav.css
  front/src/navbar/Nav.js
  front/src/navbar/Nav.module.scss
Due: front-end

Refactor FeedbackWindow
  front/src/api/api.js
  front/src/navbar/FeedbackWindow.js
  front/src/navbar/FeedbackWindow.module.scss
Due: front-end

members haku ja päivitys toimii
  back/controllers/members.js
  back/middlewares/members.js
  back/models/members.js
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

Add user's names to get members -route
  back/models/members.js
  back/services/members.js
Due: back-end

Style refactoring
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
Due: front-end

Refactoring styles
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

Refactoring styles
  front/src/infoboxes/Infoboxes.js
  front/src/infoboxes/Infoboxes.module.scss
Due: front-end

Refactoring styles
  front/src/profile/profilesettings.js
  front/src/profile/profilesettings.module.scss
Due: front-end

Add raffle attribute to members-table
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/development/seeds/10_members.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
  back/models/members.js
  back/services/members.js
  back/validators/members.js
Due: back-end

Add color definitions to frontend
  front/package-lock.json
  front/package.json
  front/src/colors.module.scss
Due: front-end

Add user table to raffle-page
  front/package.json
  front/src/App.js
  front/src/api/api.js
  front/src/navbar/Nav.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/usersTable.js
  front/src/raffle/usersTable.module.scss
  front/src/texts/texts.json
Due: front-end

Workflow for publishing docker images to ghcr
  .github/workflows/build_docker.yml
  Dockerfile
  deploy/startup.sh
Due: none

raffle raffling one too many
  back/routes.js
  back/services/members.js
  back/services/raffle.js
Due: back-end

Refactor SupervisorNotification
  front/src/navbar/Nav.js
  front/src/navbar/SupervisorNotification.js
Due: front-end

Refactor ProfileSettings
  front/src/profile/ProfileSettings.module.scss
  front/src/profile/profilesettings.js
Due: front-end

backend raffles correct amount
  back/services/raffle.js
Due: back-end

Style refactoring. Infoboxes has a bug, where it does not read the scss file correctly
  back/package-lock.json
  front/package-lock.json
  front/package.json
  front/src/colors.module.scss
  front/src/infoboxes/Infoboxes.js
  front/src/infoboxes/Infoboxes.module.scss
  front/src/profile/profilepages/changepassword.js
  front/src/profile/profilesettings.js
  front/src/profile/profilesettings.module.scss
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.module.scss
  front/src/tabletview/rangeofficer.test.js
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
  front/src/usermanagement/UserManagementView.test.js
  package-lock.json
Due: front-end, back-end

Refactor ChangePassword
  front/src/api/api.js
  front/src/navbar/FeedbackWindow.js
  front/src/profile/profilepages/ChangePassword.module.scss
  front/src/profile/profilepages/changepassword.js
  front/src/profile/profilesettings.js
  front/src/shared.module.scss
  front/src/texts/texts.json
Due: front-end

Infoboxes on dayview fixed.
  front/src/dayview/Dayview.js
  front/src/dayview/Dayview.module.scss
  front/src/infoboxes/Infoboxes.js
  front/src/infoboxes/Infoboxes.module.scss
  front/src/shared.module.scss
Due: front-end

Refactor Statistics.js
  front/package-lock.json
  front/package.json
  front/src/shared.module.scss
  front/src/statistics/Statistics.css
  front/src/statistics/Statistics.js
  front/src/statistics/Statistics.module.scss
  front/src/utils/Utils.js
Due: front-end

Refactor utils functions
  front/src/VisitorLogging/VisitorLogging.js
  front/src/api/api.js
  front/src/dayview/Dayview.js
  front/src/dayview/Dayview.test.js
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.test.js
  front/src/statistics/Statistics.js
  front/src/tabletview/rangeofficer.js
  front/src/trackview/Trackview.js
  front/src/trackview/Trackview.test.js
  front/src/utils/Utils.js
  front/src/utils/Utils.test.js
  front/src/weekview/Weekview.js
Due: front-end

Use color definitions in utils
  front/src/utils/Utils.js
Due: front-end

Refactor TrackStatistics
  front/src/TrackStatistics/TrackStatistics.css
  front/src/TrackStatistics/TrackStatistics.js
  front/src/TrackStatistics/TrackStatistics.module.scss
Due: front-end

Refactor Trackview.js
  front/src/texts/texts.json
  front/src/trackview/Trackview.css
  front/src/trackview/Trackview.js
  front/src/trackview/Trackview.module.scss
  front/src/trackview/Trackview.test.js
Due: front-end

Refactor VisitorLogging.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/VisitorLogging/VisitorLogging.module.scss
  front/src/api/api.js
Due: front-end
