Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Move shift distribution code to services folder
  back/services/shiftDistributor.js
Due: back-end

Updated shiftdistributor
  back/services/shiftDistributor.js
Due: back-end

Change supervisions to ts
  front/src/profile/profilepages/supervisions.tsx
Due: front-end

edited raffle.js
  back/services/shiftDistributor.js.save
Due: back-end

changedd
  back/services/shiftDistributor.js
Due: back-end

mitä==???
  back/services/shiftDistributor.js
Due: back-end

muokattu oikeaa rafflea :D
  back/services/raffle.js
Due: back-end

routeen fiksailua
  back/routes.js
Due: back-end

feat/ infobox and color fix
  front/src/lib/components/ExplanationBox.tsx
  front/src/raffle/RaffleDatePicker.scss
  front/src/raffle/RaffleDatePicker.tsx
  front/src/raffle/raffle.jsx
Due: front-end

Rework officer status
  front/src/scheduling/Scheduling.jsx
Due: front-end

button-colors
  front/src/pages/TabletView/components/TrackStatistics/TrackStatistics.tsx
Due: front-end

Rework supervisions page and add colors
  front/src/profile/profilepages/supervisions.tsx
Due: front-end

Change supervision test to ts
  front/src/profile/tests/supervisions.test.tsx
Due: front-end

Fix unit test for supervisions
  front/src/profile/profilepages/supervisions.tsx
  front/src/profile/tests/supervisions.test.tsx
Due: front-end

feat/ new branch, new stuff, works like wine
  front/src/lib/components/ExplanationBox.tsx
  front/src/raffle/RaffleDatePicker.jsx
  front/src/raffle/RaffleDatePicker.scss
  front/src/raffle/RaffleDatePicker.tsx
  front/src/raffle/raffle.jsx
Due: front-end

color and explanation change
  .DS_Store
  front/src/lib/components/ExplanationBox.tsx
  front/src/raffle/RaffleDatePicker.tsx
Due: front-end

Color logic fixed, daypicker great
  front/src/lib/components/ExplanationBox.tsx
  front/src/raffle/RaffleDatePicker.scss
  front/src/raffle/RaffleDatePicker.tsx
Due: front-end

Implemented distributeShifts route correctly in controllers/raffle.js and reverted accidental changes in services and middlewares
  .DS_Store
  back/.DS_Store
  back/controllers/raffle.js
  back/middlewares/raffle.js
  back/services/raffle.js
Due: back-end

yes/no buttons
  front/src/pages/TabletView/components/TrackStatistics/TrackStatistics.tsx
Due: front-end

yes and no buttons
  front/src/pages/TabletView/components/TrackStatistics/TrackStatistics.tsx
Due: front-end

Seed data fix backend config dates
  back/config/config.js
Due: back-end

Fix changepassword page errors
  front/src/profile/profilepages/changepassword.tsx
Due: front-end

Change startDate and endDate to cover five years
  back/config/config.js
Due: back-end

Add instructions for seed data setup to development section
  README.md
Due: none

Change startDate and endDate to use values from Date()
  back/config/config.js
Due: back-end

Change startDate to cover current date minus one year
  back/config/config.js
Due: back-end

Update README seed data config info in development section
  README.md
Due: none

react-day-picker version bump
  front/package-lock.json
  front/package.json
Due: front-end

feat/ switched logic and colors to match with others
  front/src/lib/components/ExplanationBox.tsx
  front/src/raffle/RaffleDatePicker.tsx
Due: front-end

reconfigured changes
  front/src/lib/components/ExplanationBox.tsx
  front/src/lib/components/TableLegends.tsx
  front/src/locales/fi/messages.po
  front/src/pages/MonthView/MonthView.tsx
  front/src/pages/WeekView/WeekView.tsx
  front/src/raffle/raffle.tsx
Due: front-end

simple test for datepicker
  front/package-lock.json
  front/package.json
  front/src/raffle/tests/RaffleDatePicker.test.tsx
Due: front-end

test fix
  front/src/raffle/tests/RaffleDatePicker.test.tsx
Due: front-end

removed test, works well
  front/package-lock.json
  front/package.json
  front/src/raffle/tests/RaffleDatePicker.test.tsx
Due: front-end
