Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Add package-lock.json
  front/package-lock.json
Due: front-end

Downgrade react-scripts
  front/package-lock.json
  front/package.json
Due: front-end

Give up on updating packages
  front/package-lock.json
  front/package.json
Due: front-end

Add styling & week selector to RaffleDatePicker
  front/src/raffle/RaffleDatePicker.js
  front/src/raffle/RaffleDatePicker.scss
  front/src/raffle/raffle.js
  front/src/utils/Utils.js
Due: front-end

Fix Trackview styles
  front/src/trackview/Trackview.module.scss
Due: front-end

User names are queried case insensitively in login
  back/__tests__/sign.test.js
  back/models/user.js
  back/services/user.js
Due: back-end

dates as input for raffle backend
  back/middlewares/raffle.js
  back/routes.js
  back/services/raffle.js
  back/validators/index.js
  back/validators/raffle.js
Due: back-end

optional range_id for raffle backend
  back/services/raffle.js
  back/validators/raffle.js
Due: back-end

optional range_id for raffle backend
  back/services/raffle.js
Due: back-end

Fix broken test.
  back/models/__mocks__/user.js
Due: back-end

UserManagementView styles refactored
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

Add small fixes to UserManagementView styles
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

raffle now raffles equally on both weekends and weekdays
  back/services/raffle.js
Due: back-end

removed extra logging
  back/services/raffle.js
Due: back-end

Add knex migrations - create table info_messages
  back/knex/development/migrations/20211205144828_create_infomessage_table.js
  back/knex/stable/migrations/20211205144828_create_infomessage_table.js
Due: back-end

Add infomessage routes
  back/routes.js
Due: back-end

Add infomessage controller
  back/controllers/index.js
  back/controllers/infoMessage.js
Due: back-end

Add infomessage validator/sanitizer
  back/validators/index.js
  back/validators/infoMessage.js
Due: back-end

Add infoMessage model
  back/models/infoMessage.js
Due: back-end

Add infoMessage service
  back/services/infoMessage.js
Due: back-end

Add react-day-picker
  front/package-lock.json
  front/package.json
Due: front-end

Set supervisors according to raffle results - endpoint
  back/controllers/index.js
  back/controllers/raffleSupervisors.js
  back/routes.js
  back/services/index.js
  back/services/raffleSupervisors.js
  back/validators/index.js
  back/validators/raffleSupervisors.js
Due: back-end

RaffleDatePicker component
  front/src/raffle/RaffleDatePicker.js
Due: front-end

Fix select styles
  front/src/raffle/resultsTable.js
  front/src/raffle/usersTable.module.scss
Due: front-end

Add raffle results frontend
  back/routes.js
  front/package.json
  front/src/api/api.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/resultsTable.js
  front/src/raffle/usersTable.module.scss
  front/src/texts/texts.json
  front/src/utils/Utils.js
Due: front-end, back-end

Add Organizations-table to Raffle page
  front/package.json
  front/src/App.js
  front/src/api/api.js
  front/src/navbar/Nav.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/usersTable.js
  front/src/raffle/usersTable.module.scss
  front/src/texts/texts.json
Due: front-end

Add color definitions to frontend
  front/package-lock.json
  front/package.json
  front/src/colors.module.scss
Due: front-end

Add raffle results saving frontend
  front/src/api/api.js
  front/src/raffle/raffle.js
  front/src/texts/texts.json
Due: front-end

Add texts for RaffleDatePicker
  front/src/texts/texts.json
Due: front-end

Clean up console.logs and comments
  back/controllers/index.js
  back/validators/raffleSupervisors.js
Due: back-end

Add logged in -check to raffle
  front/src/raffle/raffle.js
Due: front-end

Add a reminder to enable endpoint to be called only by superuser
  back/routes.js
Due: back-end

Add raffle SupervisionAmountsTable, sort results
  front/src/raffle/SupervisionAmountsTable.js
  front/src/raffle/raffle.js
  front/src/raffle/raffle.module.scss
  front/src/raffle/resultsTable.js
  front/src/raffle/table.module.scss
  front/src/raffle/usersTable.js
  front/src/texts/texts.json
Due: front-end

Refactor code read readability
  front/src/raffle/SupervisionResultsTable.js
  front/src/raffle/SupervisorsTable.js
  front/src/raffle/raffle.js
Due: front-end

members get doned
  back/controllers/index.js
  back/controllers/members.js
  back/middlewares/index.js
  back/middlewares/members.js
  back/models/index.js
  back/models/members.js
  back/routes.js
  back/services/index.js
  back/services/members.js
  back/validators/index.js
Due: back-end

get members actually working
  back/models/members.js
  back/services/members.js
Due: back-end

required files for read members
  back/middlewares/members.js
  back/models/members.js
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

weekday from date not working yet
  back/services/raffle.js
Due: back-end

Add members seed data
  back/knex/development/seeds/10_members.js
Due: back-end
