Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

Fix pathing in CI
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

Add coverage generation to tests
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

Specify coverage files
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

Use color definitions in utils
  front/src/utils/Utils.js
Due: front-end

Add color definitions to frontend
  front/package-lock.json
  front/package.json
  front/src/colors.module.scss
Due: front-end

Refactor /sign tests little
  back/__tests__/sign.test.js
Due: back-end

First test for /user
  back/__tests__/user.test.js
Due: back-end

Refactor express application into own function.
  back/app.js
  back/server.js
Due: back-end

Tests for /reset PUT
  back/__tests__/resetPassword.test.js
Due: back-end

Tests for /reset GET
  back/__tests__/resetPassword.test.js
Due: back-end

Tests for /api/sign/ endpoint
  back/__mocks__/knex.js
  back/__mocks__/node-schedule.js
  back/__tests__/sign.test.js
  back/package-lock.json
  back/package.json
Due: back-end

Change test description.
  back/__tests__/resetPassword.test.js
Due: back-end

reset_token to query params instead of request body and rename tests.
  back/__tests__/resetPassword.test.js
  back/__tests__/sign.test.js
Due: back-end

Remove unneccessary function definition from 'app.js'
  back/app.js
  back/server.js
Due: back-end

Fix small bug in controllers/resetPassword.js
  back/controllers/resetPassword.js
Due: back-end

Test for /signout POST
  back/__tests__/signout.test.js
Due: back-end

test for resetPassword PUT
  back/__tests__/resetPassword.test.js
Due: back-end

Fix bug where password reset token never expires
  back/controllers/resetPassword.js
Due: back-end

Tests for /user
  back/__tests__/user.test.js
Due: back-end

Tests for /reset POST
  back/__tests__/resetPassword.test.js
Due: back-end

Add members table
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

just dates from backend
  back/controllers/index.js
  back/controllers/raffle.js
  back/middlewares/index.js
  back/middlewares/raffle.js
  back/routes.js
  back/services/index.js
  back/services/raffle.js
Due: back-end

Add supervisor to members table
  back/knex/development/migrations/20211021231147_create_clubmembers_table.js
  back/knex/stable/migrations/20211021231147_create_clubmembers_table.js
Due: back-end

weekday from date not working yet
  back/services/raffle.js
Due: back-end

Refactor Statistics.js
  front/package-lock.json
  front/package.json
  front/src/shared.module.scss
  front/src/statistics/Statistics.css
  front/src/statistics/Statistics.js
  front/src/statistics/Statistics.module.scss
  front/src/utils/Utils.js
Due: front-end

Refactor Trackview.js
  front/src/trackview/Trackview.css
  front/src/trackview/Trackview.js
  front/src/trackview/Trackview.module.scss
  front/src/trackview/Trackview.test.js
Due: front-end

Refactor VisitorLogging.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/VisitorLogging/VisitorLogging.module.scss
  front/src/api/api.js
Due: front-end

Refactor TrackStatistics
  front/src/TrackStatistics/TrackStatistics.css
  front/src/TrackStatistics/TrackStatistics.js
  front/src/TrackStatistics/TrackStatistics.module.scss
Due: front-end

Add code review fixes
  front/src/texts/texts.json
  front/src/trackview/Trackview.js
  front/src/trackview/Trackview.module.scss
Due: front-end

Add code review fixes
  front/src/TrackStatistics/TrackStatistics.js
  front/src/TrackStatistics/TrackStatistics.module.scss
Due: front-end

Refactor Trackview.js
  front/src/texts/texts.json
  front/src/trackview/Trackview.css
  front/src/trackview/Trackview.js
  front/src/trackview/Trackview.module.scss
  front/src/trackview/Trackview.test.js
Due: front-end

Add members seed data
  back/knex/development/seeds/10_members.js
Due: back-end

required files for read members
  back/middlewares/members.js
  back/models/members.js
  back/routes.js
  back/services/members.js
  back/validators/members.js
Due: back-end

members get doned
  back/controllers/index.js
  back/controllers/members.js
  back/middlewares/index.js
  back/middlewares/members.js
  back/models/index.js
  back/models/members.js
  back/routes.js
  back/services/index.js
  back/services/members.js
  back/validators/index.js
Due: back-end
