Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

Remove login.cy.js
  .gitignore
  package-lock.json
  package.json
  test/cypress.config.js
  test/cypress/e2e/cypress.config.js
  test/cypress/e2e/cypress/fixtures/example.json
  test/cypress/e2e/cypress/support/commands.js
  test/cypress/e2e/cypress/support/e2e.js
  test/cypress/e2e/login.cy.ts
  test/cypress/e2e/scheduling.cy.js
  test/cypress/support/commands.js
Due: none

Remove default env
  front/.env.development
Due: front-end

fix/ password update fixed
  front/src/pages/UserManagement/UserManagementView.tsx
Due: front-end

fix/ updateuser function added
  front/src/api/api.js
Due: front-end

Remove ascii limitation
  back/validators/user.js
Due: back-end

Tests for scheduling view
  test/cypress/e2e/scheduling.cy.js
Due: none

Review fix
  test/.gitignore
  test/cypress/e2e/navigation.cy.ts
Due: none

Format default hours in a table and support all weekdays
  back/controllers/defaultHours.js
  back/knex/development/migrations/20250417120000_create_default_hours_table.js
  back/models/defaultHours.js
  front/src/pages/EditTracksView/EditTracksView.tsx
  front/src/scheduling/Scheduling.jsx
  front/src/trackview/DefaultHoursTable.tsx
  front/src/trackview/DefaultOpeningForm.tsx
  front/src/trackview/Trackview.tsx
Due: front-end, back-end

WIP: default hours, very ugly very messy but something
  back/controllers/defaultHours.js
  back/controllers/index.js
  back/knex/development/migrations/20250417120000_create_default_hours_table.js
  back/models/defaultHours.js
  back/routes.js
  back/services/defaultHours.js
  back/validators/index.js
  docker-compose.dev.yaml
  front/src/scheduling/Scheduling.jsx
  front/src/trackview/DefaultOpeningForm.tsx
  front/src/trackview/Trackview.tsx
Due: front-end, back-end

Use default hours in scheduling
  back/knex/stable/migrations/20250417120000_create_default_hours_table.js
  front/src/scheduling/Scheduling.jsx
  front/src/trackview/DefaultHoursTable.tsx
Due: front-end, back-end

Clean up cypress tests
  test/cypress/e2e/scheduling.cy.ts
  test/cypress/e2e/tabletView.cy.ts
Due: none

Change rest cypress tests to ts
  test/cypress/e2e/scheduling.cy.ts
  test/cypress/e2e/tabletView.cy.ts
Due: none

Add seeds
  back/knex/development/seeds/12_default_hours.js
  back/knex/stable/seeds/10_default_hours.js
  front/src/trackview/DefaultHoursTable.tsx
Due: front-end, back-end

Change signin to ts
  front/src/signin/SignIn.tsx
Due: front-end

Rework sign in page
  front/src/App.tsx
  front/src/signin/SignIn.module.scss
  front/src/signin/SignIn.tsx
Due: front-end

Move sign in to pages folder
  front/src/App.tsx
  front/src/pages/SignInView/SignInView.test.tsx
  front/src/pages/SignInView/SignInView.tsx
Due: front-end

Save before merging master
  .DS_Store
  .gitignore
  back/.DS_Store
  back/controllers/True Percentage vs. Linear Approximations (100 : X vs. (A - X):100).png
  back/controllers/raffle.js
  back/package-lock.json
  front/src/raffle/RaffleAnalytics.tsx
  package-lock.json
  package.json
Due: front-end, back-end

Update readme
  README.md
Due: none

Review fix and remove old front readme
  README.md
  front/README.md
Due: front-end

duplicate imports from raffle.tsx
  front/src/raffle/raffle.tsx
Due: front-end

deleted the duplicates
  front/src/raffle/raffle.tsx
Due: front-end

#405 Fix monthly view data display issue around change of the year
  front/src/pages/MonthView/MonthView.tsx
Due: front-end

fix: handle null notice values in track data
  front/src/pages/DayView/DayView.tsx
Due: front-end

416_Fixed_not_being_able_to_change_opening_time
  front/src/scheduling/Scheduling.jsx
Due: front-end

fix: automatic tabletview date refresh closes: #445
  front/src/pages/TabletView/TabletView.tsx
Due: front-end

#442 Remove 'On the way' status from backend and frontend
  back/controllers/oldSchedule.js
  back/knex/development/migrations/20261005120000_remove_en_route_range_supervisor_status.js
  back/knex/development/seeds/07_range_supervision.js
  back/knex/stable/migrations/20261005120000_remove_en_route_range_supervisor_status.js
  front/src/lib/components/DateHeader/DateHeader.module.scss
  front/src/lib/components/TableLegends.tsx
  front/src/locales/en/messages.po
  front/src/locales/fi/messages.po
  front/src/locales/sv/messages.po
  front/src/pages/DayView/DayView.module.scss
  front/src/pages/DayView/DayView.tsx
  front/src/pages/MonthView/MonthView.tsx
  front/src/pages/TabletView/components/RangeOfficerStatusSection.tsx
  front/src/pages/TabletView/components/TrackCard.tsx
  front/src/pages/TabletView/rangeofficer.module.scss
  front/src/pages/WeekView/WeekView.tsx
  front/src/profile/profilepages/supervisions.tsx
  front/src/raffle/RaffleDatePicker.tsx
  front/src/scheduling/Scheduling.jsx
  front/src/scheduling/Scheduling.scss
  front/src/texts/texts.json
  front/src/trackview/Trackview.module.scss
  front/src/trackview/Trackview.tsx
  front/src/upcomingsupervisions/LoggedIn.jsx
  front/src/utils/Utils.jsx
Due: front-end, back-end

Fix: prevent TabletView date refresh handlers from stacking
  front/src/pages/TabletView/TabletView.tsx
Due: front-end

Prevent reload while offline
  front/src/pages/TabletView/TabletView.tsx
Due: front-end

417_fixed_not_being_able_to_remove_range_supervisor
  front/src/scheduling/Scheduling.jsx
Due: front-end

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
