Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

add integration test workflow
  .github/workflows/integration_tests.yml
Due: none

syntax fix
  .github/workflows/integration_tests.yml
Due: none

change step name
  .github/workflows/integration_tests.yml
Due: none

add runs-on step
  .github/workflows/integration_tests.yml
Due: none

fix indent
  .github/workflows/integration_tests.yml
Due: none

add cypress dependencies
  package-lock.json
Due: none

test step depends on build step
  .github/workflows/integration_tests.yml
Due: none

run app without docker com+ose
  .github/workflows/integration_tests.yml
Due: none

add postgres job dependency
  .github/workflows/integration_tests.yml
Due: none

add isntall step to postgres job
  .github/workflows/integration_tests.yml
Due: none

change colors to match new ui
  front/src/colors.module.scss
Due: front-end

change colors for navbar
  front/src/navbar/Nav.js
  front/src/navbar/Nav.module.scss
Due: front-end

change colors for visitorloggin
  front/src/VisitorLogging/VisitorLogging.module.scss
Due: front-end

change colors for usermanagement
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.module.scss
Due: front-end

change colors for statistics
  front/src/statistics/Statistics.js
Due: front-end

change colors for scheduling
  front/src/scheduling/Scheduling.js
Due: front-end

change colors for resetpwd
  front/src/resetPW/ResetPassword.js
Due: front-end

change colors for renewpwd
  front/src/renewPW/RenewPassword.js
Due: front-end

change background color at app.css
  front/src/App.css
Due: front-end

change colors for trackview
  front/src/trackview/Trackview.module.scss
Due: front-end

change colors for signin
  front/src/signin/SignIn.js
Due: front-end

change colors for tracks
  front/src/edittracks/tracks.js
  front/src/edittracks/tracks.scss
Due: front-end

change colors for infobox
  front/src/infoBox/AddInfo.js
  front/src/infoBox/AddInfo.module.scss
Due: front-end

MVP of send notifications to a single user in tablet mode
  back/controllers/infoMessage.js
  back/knex/development/migrations/20220326181519_add_recipients_column_to_infomessage.js
  back/knex/development/migrations/20220331143553_add_sender_column_to_info_messages.js
  back/middlewares/user.js
  back/models/infoMessage.js
  back/routes.js
  back/services/infoMessage.js
  back/validators/infoMessage.js
  front/src/api/api.js
  front/src/dayview/Dayview.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/tabletview/rangeofficer.js
Due: front-end, back-end

added access right checks to routes
  back/controllers/infoMessage.js
  back/routes.js
Due: back-end

Refactoring code, added language change support
  back/controllers/infoMessage.js
  back/routes.js
  front/src/infoBox/AddInfo.js
  front/src/infoBox/InfoBox.js
  front/src/texts/texts.json
Due: front-end, back-end

Refactor, add language support for warning message modal
  front/src/TrackStatistics/TrackStatistics.js
  front/src/texts/texts.json
Due: front-end

Added swedish translation send public message
  front/src/texts/texts.json
Due: front-end

add app.scss-file
  front/src/App.scss
Due: front-end

remove last .css file
  front/src/App.css
Due: front-end

change import css to scss
  front/src/scheduling/Scheduling.js
Due: front-end

change import css to scss
  front/src/App.js
Due: front-end

fix indentation
  .github/workflows/integration_tests.yml
Due: none

change steps and env variables
  .github/workflows/integration_tests.yml
Due: none

change job path variable
  .github/workflows/integration_tests.yml
Due: none

change working directory
  .github/workflows/integration_tests.yml
Due: none
