Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

App converted to function
  front/src/App.js
Due: front-end

Add rangeofficer selection to supervision info
  back/models/rangeSupervision.js
  back/validators/rangeSupervision.js
  front/src/texts/texts.json
  front/src/upcomingsupervisions/LoggedIn.js
Due: front-end, back-end

Added infomessage deletion routine to backend server.js
  back/server.js
Due: back-end

Added functionality for ButtonComponent for fetching device data and status
  front/src/ButtonComponent/ButtonComponent.js
Due: front-end

Added functionality to component to change color when reserved or not. Component also changes text on click reserved/free
  front/src/ButtonComponent/ButtonComponent.js
  front/src/ButtonComponent/ButtonComponent.module.scss
Due: front-end

route to fetch officer association
  back/controllers/user.js
  back/middlewares/user.js
  back/models/user.js
  back/routes.js
  back/services/user.js
  back/validators/rangeSupervision.js
  back/validators/user.js
Due: back-end

Supervisions component
  front/src/api/api.js
  front/src/profile/profilepages/supervisions.js
  front/src/profile/profilesettings.js
Due: front-end

state handlers for supervisions table
  front/src/profile/profilepages/supervisions.js
Due: front-end

Supervision status update backend call
  back/validators/rangeSupervision.js
  front/src/api/api.js
  front/src/profile/profilepages/supervisions.js
Due: front-end, back-end

bug fixes to passed events in menus
  front/src/api/api.js
  front/src/profile/profilepages/supervisions.js
Due: front-end

separate supervision view for rangeofficers
  front/src/navbar/Nav.js
  front/src/profile/profilepages/supervisions.js
Due: front-end

Fixed old unit tests, sorted lists, fixed minor bugs
  front/src/TrackStatistics/TrackStatistics.js
  front/src/TrackStatistics/TrackStatistics.test.js
  front/src/infoBox/AddInfo.js
  front/src/raffle/raffle.js
  front/src/tabletview/rangeofficer.js
  front/src/tabletview/rangeofficer.test.js
  front/src/usermanagement/UserManagementView.js
  front/src/usermanagement/UserManagementView.test.js
  front/src/weekview/Weekview.js
Due: front-end

Added translations to Buttoncomponent and translations to texts.json
  front/src/ButtonComponent/ButtonComponent.js
  front/src/texts/texts.json
Due: front-end

Added translations to devices.js and texts.json
  front/src/ButtonComponent/ButtonComponent.js
  front/src/Devices/devices.js
  front/src/texts/texts.json
Due: front-end

updates to supervision edge cases, improvements to ui & navigation
  front/src/navbar/Nav.js
  front/src/navbar/SupervisorNotification.js
  front/src/profile/profilepages/supervisions.js
  front/src/profile/profilesettings.js
  front/src/texts/texts.json
Due: front-end

Updated dockerfiles to Node 20, frontend library updates
  front/Dockerfile
  front/package-lock.json
  front/package.json
Due: front-end

updated dockerfiles to node 20
  Dockerfile
  back/Dockerfile
Due: back-end

updated frontend versions to work with node 20
  front/.eslintrc.js
  front/package-lock.json
  front/package.json
  front/src/EmailSettings/EmailSettings.js
  front/src/VisitorLogging/VisitorLogging.js
  front/src/edittracks/tracks.js
Due: front-end

First version of trackReservation front component
  front/src/App.js
  front/src/texts/texts.json
  front/src/trackReservation/trackReservation.js
  front/src/trackReservation/trackReservation.module.scss
  front/src/trackReservation/trackReservationForm.js
Due: front-end

Added labels to track selection and attendee count, other minor fixes
  front/src/trackReservation/trackReservationForm.js
Due: front-end

added dynamic track capacities
  front/src/trackReservation/trackReservationForm.js
Due: front-end

Implemented a checker for adding devices and fixed UI
  front/src/ButtonComponent/ButtonComponent.js
  front/src/ButtonComponent/ButtonComponent.module.scss
  front/src/Devices/devices.js
  front/src/Devices/devices.module.scss
Due: front-end

Deleted unutilized code
  front/src/App.js
  front/src/navbar/Nav.js
Due: front-end

Fixed a typo
  front/src/Devices/devices.js
Due: front-end

device indexing issue fix to backend
  back/knex/development/seeds/11_devices.js
  front/src/Devices/devices.js
  front/src/api/api.js
Due: front-end, back-end

Add timestamp to weekview UI
  back/controllers/daterange.js
  front/src/weekview/Weekview.js
  front/src/weekview/Weekview.module.scss
Due: front-end, back-end

Socket io proxy conf fix to work with react-scripts v5
  front/src/setupProxy.js
Due: front-end

tablettinäkymän infoviestin render testi
  front/src/infoBox/InfoBox.js
  front/src/tabletview/rangeofficer.test.js
Due: front-end

Made final changes and translations.
  front/src/ButtonComponent/ButtonComponent.js
  front/src/Devices/devices.js
  front/src/texts/texts.json
Due: front-end

react-scripts downgrade, add legacy ssl tag
  front/.eslintrc.js
  front/package-lock.json
  front/package.json
Due: front-end

Removed front/src/package.json from previous merge
  front/package-lock.json
  front/package.json
  front/src/package-lock.json
  front/src/package.json
Due: front-end

add officerform tests
  front/package.json
  front/src/profile/profilepages/officerform.js
  front/src/profile/profilepages/supervisions.js
  front/src/profile/profilesettings.js
  front/src/profile/tests/officerform.test.js
Due: front-end

Added link to menu
  front/src/navbar/Nav.js
  front/src/texts/texts.json
  front/src/trackReservation/trackReservationForm.js
Due: front-end

supervisions component tests
  front/package.json
  front/src/profile/profilepages/supervisions.js
  front/src/profile/tests/supervisions.test.js
Due: front-end

Fixed broken backend tests related to role updates
  back/__tests__/changeOwnPassword.test.js
  back/__tests__/trackSupervision.test.js
  back/__tests__/user.test.js
  back/cypress/integration/login.spec.js
Due: back-end

devices endpoint tests
  back/__tests__/devices.test.js
  back/models/__mocks__/devices.js
Due: back-end

Updated readme, dockerfile fix & included project poster
  Dockerfile
  README.md
  [TSS-VI]Poster.pdf
Due: none

removed audit fix from prod dockerfile
  Dockerfile
Due: none

Path conditions:
  front-end: any of: front/
  back-end: any of: back/
