Repository tasera-ry/tss: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yaml:

coverage:
 status:
  project:
    default:
      target: 50%
    front-end:
      target: 50%
      flags:
        - front-end
    back-end:
      target: 50%
      flags:
        - backend

flags:
  front-end:
    paths:
      - front/
    carryforward: true
  back-end:
    paths:
      - back/
    carryforward: true

add db user to env variables
  production-test-compose.yaml
Due: none

Updated README
  README.md
Due: none

Fix track buttons to be absent/closed not closed/open. Some minor refactoring also.
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
  front/src/texts/texts.json
Due: front-end

Add a check I deleted by mistake
  front/src/scheduling/Scheduling.js
Due: front-end

Added release and manual run to build triggers
  .github/workflows/build_docker.yml
Due: none

Updated README.md with docker build info
  README.md
Due: none

Removed unnecessary container builds
  .github/workflows/docker_build_back.yml
  .github/workflows/docker_build_front.yml
Due: none

feat/buttons for date change
  front/src/scheduling/Scheduling.js
Due: front-end

fix/ fixed buttons and made it more pretty
  front/src/scheduling/Scheduling.js
  front/src/scheduling/Scheduling.scss
Due: front-end

chore/ version bump
  back/package.json
Due: back-end

Update staging environment compose
  docker-compose.stage.yaml
Due: none

Cleanup docker image content
  Dockerfile
  back/.dockerignore
  back/package-lock.json
  back/package.json
  front/.dockerignore
Due: front-end, back-end

Remove npm prod from frontend build docker
  Dockerfile
Due: none

Move folders to assets folder
  front/src/assets/Burger.png
  front/src/assets/Exclamation_mark.png
  front/src/assets/Exclamation_mark_valmis.png
  front/src/assets/Info.png
  front/src/assets/Logo.png
  front/src/assets/Small-info.png
  front/src/dayview/Dayview.jsx
  front/src/infoboxes/Infoboxes.jsx
  front/src/monthview/Monthview.jsx
  front/src/navbar/Nav.jsx
  front/src/weekview/Weekview.jsx
Due: front-end

Rework frontend to use vite
  docker-compose.dev.yaml
  front/package-lock.json
  front/package.json
  front/src/App.test.jsx
  front/src/ButtonComponent/ButtonComponent.module.scss
  front/src/ButtonComponent/ButtonComponent.test.jsx
  front/src/Devices/devices.test.jsx
  front/src/TrackStatistics/TrackStatistics.test.jsx
  front/src/_TestUtils/axiosMock.js
  front/src/dayview/Dayview.jsx
  front/src/dayview/Dayview.test.jsx
  front/src/edittracks/tracks.test.jsx
  front/src/infoBox/InfoBox.jsx
  front/src/lib/components/ViewChanger.jsx
  front/src/monthview/Monthview.jsx
  front/src/monthview/Monthview.test.jsx
  front/src/navbar/FeedbackWindow.test.jsx
  front/src/navbar/Nav.test.jsx
  front/src/navbar/SuperVisorNotification.test.jsx
  front/src/profile/tests/officerform.test.jsx
  front/src/profile/tests/supervisions.test.jsx
  front/src/resetPW/ResetPassword.test.jsx
  front/src/scheduling/Scheduling.test.jsx
  front/src/setupTests.js
  front/src/signin/Signin.test.jsx
  front/src/tabletview/rangeofficer.test.jsx
  front/src/trackview/Trackview.test.jsx
  front/src/upcomingsupervisions/LoggedIn.test.jsx
  front/src/usermanagement/UserManagementView.test.jsx
  front/src/utils/Utils.jsx
  front/src/utils/Utils.test.jsx
  front/src/weekview/Weekview.jsx
  front/src/weekview/Weekview.test.jsx
  front/vite.config.ts
Due: front-end

Remove package reference to self
  front/package.json
Due: front-end

Update frontend docker build location
  Dockerfile
Due: none

Add skip to two ui unittests
  front/src/ButtonComponent/ButtonComponent.test.jsx
  front/src/signin/Signin.test.jsx
Due: front-end

Clean up src root
  front/src/setupProxy.js
  front/src/setupTests.ts
Due: front-end

Fix random required div for style
  front/src/lib/components/ViewChanger.jsx
Due: front-end

Remove unused packages
  front/package-lock.json
  front/package.json
Due: front-end

Setup tailwindcss
  front/package-lock.json
  front/package.json
  front/src/App.css
  front/src/App.jsx
  front/tsconfig.node.json
  front/vite.config.js
Due: front-end

Cleanup App component
  front/src/App.jsx
  front/src/App.test.jsx
  front/src/App.test.tsx
  front/src/App.tsx
  front/src/lib/hooks/useLoggedInUser.ts
  front/src/main.tsx
  front/tsconfig.json
Due: front-end

Rework Navbar
  front/package-lock.json
  front/package.json
  front/src/App.css
  front/src/App.jsx
  front/src/lib/components/Navbar/DrawerMenu.tsx
  front/src/lib/components/Navbar/FeedbackWindow.tsx
  front/src/lib/components/Navbar/Navbar.tsx
  front/src/lib/components/Navbar/SupervisorNotification.tsx
  front/src/lib/components/Navbar/__tests/FeedbackWindow.test.jsx
  front/src/lib/components/Navbar/__tests/Navbar.test.jsx
  front/src/lib/components/Navbar/__tests/SuperVisorNotification.test.jsx
  front/src/lib/components/Navbar/index.ts
  front/src/lib/hooks/useLoggedInUser.ts
  front/src/navbar/FeedbackWindow.module.scss
  front/src/navbar/Nav.jsx
  front/src/navbar/Nav.module.scss
  front/src/navbar/SupervisorNotification.jsx
  front/src/vite-env.d.ts
Due: front-end

Rework calender views
  front/package-lock.json
  front/package.json
  front/src/App.tsx
  front/src/TableLegends/TableLegends.tsx
  front/src/dayview/Dayview.jsx
  front/src/dayview/Dayview.tsx
  front/src/infoboxes/Infoboxes.jsx
  front/src/infoboxes/Infoboxes.module.scss
  front/src/lib/components/DateHeader/DateHeader.module.scss
  front/src/lib/components/DateHeader/DateHeader.tsx
  front/src/lib/components/DateHeader/index.ts
  front/src/lib/components/ViewChanger.jsx
  front/src/main.tsx
  front/src/monthview/Monthview.jsx
  front/src/monthview/Monthview.tsx
  front/src/types.ts
  front/src/utils/Utils.jsx
  front/src/vite-env.d.ts
  front/src/weekview/Weekview.jsx
  front/src/weekview/Weekview.tsx
Due: front-end

Fix testSetup and add format script
  front/package.json
  front/vite.config.js
Due: front-end

Fix dayview test
  front/src/_TestUtils/TestProvides.tsx
  front/src/dayview/Dayview.test.jsx
  front/src/dayview/Dayview.test.tsx
  front/src/dayview/Dayview.tsx
  front/src/setupTests.ts
  front/vite.config.js
Due: front-end

Change monthview test to ts
  front/src/monthview/Monthview.test.tsx
Due: front-end

Fix month view tests
  front/src/monthview/Monthview.test.tsx
Due: front-end

Update utils test to ts
  front/src/utils/Utils.test.tsx
Due: front-end

Fix utils tests
  front/src/utils/Utils.test.tsx
Due: front-end

Update weekview test to ts
  front/src/weekview/Weekview.test.tsx
Due: front-end

Fix week view tests
  front/src/_TestUtils/TestUtils.js
  front/src/weekview/Weekview.test.tsx
Due: front-end

Fix app tests
  front/src/App.test.tsx
  front/src/_TestUtils/TestUtils.js
Due: front-end

refactor/ made buttons bigger
  front/src/scheduling/Scheduling.js
Due: front-end

feat/ joo changed to kylla
  front/src/texts/texts.json
Due: front-end

Change update -> upsert
  back/models/emailSettings.js
Due: back-end

Refactor upsert back to update and change update -> upsert in trx chain
  back/models/emailSettings.js
Due: back-end
